<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
.contentUtama {
   padding:10px 5px;
}
.buttonAksi {
   float:right;
   margin-bottom:7px;
}
</style>
<div class="contentUtama">
   <h2>Pengajuan Cuti</h2>
   <br />
   <h5>Keterangan :</h5>
   <p>Pada Menu ini anda bisa melakukan pengajuan untuk Cuti pada semester yang bersangkutan dan juga bisa melihat histori data pengajuan cuti anda</p>

   <br />
   <br />

   <h5>Daftar Pengajuan</h5>
   <div class="buttonAksi">
      <button class="btn btn-info" onclick="window.location.href='{URL_ADD_PENGAJUAN}';"  type="button" name="act" >Buat Pengajuan Cuti</button>
   </div>
   <table width="100%" class="table table-responsive table-common">
      <tr>
         <th>No.</th>
         <th>Semester Pengajuan</th>
         <th>Sebab Cuti</th>
         <th>Status</th>
         <th>Proses</th>
      </tr>

      <!-- patTemplate:tmpl name="data_list" type="condition" conditionvar="IS_EMPTY" -->
         <!-- patTemplate:sub condition="YES" -->
            <tr>
               <td colspan="5" align="center">
                  <em>Belum ada Data Pengajuan Cuti</em>
               </td>
            </tr>
         <!-- /patTemplate:sub -->
         <!-- patTemplate:sub condition="NO" -->
            <!-- patTemplate:tmpl name="data_list_item" -->
            <tr>
               <td align="center">{NO}</td>
               <td>
                  <a href="{URL_DETAIL}" title="Lihat Detail Pengajuan Cuti">{SEMESTER_LABEL}</a>
               </td>
               <td>{SEBAB_CUTI}</td>
               <td align="center">{STATUS_PENGAJUAN}</td>
               <td align="center">
					<!-- patTemplate:tmpl name="data_tombol" visibility="hidden" -->
                  <a href="{URL_EDIT}" title="Edit Pengajuan Cuti">edit</a>
                  |
                  <a href="#" onclick="if(confirm('Yakin akan menghapus Item ini?')) {window.location.href='{URL_HAPUS}';} else {return false;}" title="Hapus Pengajuan Cuti">hapus</a>
					<!-- /patTemplate:tmpl -->
               </td>
            </tr>
            <!-- /patTemplate:tmpl -->
         <!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
   </table>

</div>
<!-- /patTemplate:tmpl -->