<!-- patTemplate:tmpl name="head_addition" -->
   <link href="{CONFIG_BASEADDRESS}styles/a-portal-default-login-loader.css" rel="stylesheet" type="text/css" />
   <link href="images/favicon.ico" rel="SHORTCUT ICON" />
<!-- /patTemplate:tmpl -->

<!-- patTemplate:tmpl name="content" -->

<center>
<div class="container-xl shadow-lg mt-5 p-2 rounded-lg">
  <div class="bg-login pb-4 rounded-lg">	
			<div id="loginBox">			
        <img src="images/logo-circle.png" alt="logo perbanas" width="100" 
        class="img-fluid mx-auto mt-5"/>          
        <div id="loginBox-body" style="margin-top:15px">
          <div id="login-box-info" class="text-center">
            <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
              {LOGIN_FAILED_MSG} <br \>
              Klik <a href="{CONFIG_BASEADDRESS}"><b>kembali</b></a> untuk melakukan login ulang
          </div>
        </div>
      </div>    
    </div>
    <div class="row contact mt-4">
      <div class="col-lg-6 col-xs-6">
        <address>
          <h5>Perbanas Institute Kampus Jakarta</h5>
          Jl. Perbanas, Karet Kuningan, Setiabudi, Jakarta 12940<br>
          Telp: (021) 5252533, 5222501-04<br>
          Fax: (021) 5704376, 5228460<br>
          <a href="https://perbanas.id" target="_BLANK">www.perbanas.id</a>
        </address>
    </div>
    <div class="col-lg-6 col-xs-12">
        <address class="pull-right">
          <h5>Perbanas Institute Kampus Bekasi</h5>
          Jl. Cut Meutia Raya No. 2, Bekasi<br>
          Telp: (021) 8224432<br/><br/>
          <a href='https://twitter.com/perbanas'>
            <i class="fab fa-twitter-square fa-3x" aria-hidden="true"></i>
          </a>&nbsp;
          <a href='https://www.facebook.com/perbanas.institute.jakarta'>
            <i class="fab fa-facebook-square fa-3x" aria-hidden="true"></i>
          </a>&nbsp;
          <a href='https://youtube.com/perbanasinstitute'>
            <i class="fab fa-youtube-square fa-3x" aria-hidden="true"></i>
          </a>&nbsp;
          <a href='https://t.me/perbanasinstitute'>
            <i class="fab fa-telegram fa-3x" aria-hidden="true"></i>
          </a>&nbsp;
          <a href='https://instagram.com/perbanas.institute'>
            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
          </a>&nbsp;
          <a href='https://linktr.ee/perbanas.institute'>
            <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
          </a>&nbsp;
          <a href='mailto:contact@perbanas.id'>
            <i class="fab fa-email fa-3x" aria-hidden="true"></i>
          </a>
          <br>
      &copy;All Rights Reserved. Perbanas Institute.
        </address>
              </div>
            </div>
				</div>
			</div>
		</div>
	</div>
</center>
<!-- /patTemplate:tmpl -->

