<!-- patTemplate:tmpl name="content" -->
<h2>Manajemen FAQ</h2>
<p class="text-muted">Keterangan :</p>
<p>Manajemen FAQ (Frequently Asked Question) merupakan menu yang digunakan untuk melakukan manajemen FAQ (menambah, merubah, dan menghapus FAQ dan kategorinya) 
</p><br />
   <!-- patTemplate:link name="error_box" src="error_box" / -->
   
   <!-- patTemplate:tmpl name="faq_kategori_list" type="condition" conditionvar="IS_EMPTY" -->
      <!-- patTemplate:sub condition="YES" -->         
         
         <!-- patTemplate:link name="empty_box" src="empty_box" / -->
         
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
      <div class="table-responsive">
         <table class="table-common">
            <tr>
					<th width="5%"><strong>No</strong></th>
               <th width="70%"><strong>Kategori FAQ</strong></th>
               <th width="15%"><strong>Jumlah FAQ</strong></th>
               <th colspan=2 width="10%"><strong>Aksi</strong></th>
            </tr>
            <!-- patTemplate:tmpl name="faq_kategori_item" type="condition" conditionvar="ODDEVEN" -->                  
            <!-- patTemplate:sub condition="ODD" -->                 
					<tr>
						<td>{FAQ_KATEGORI_NUMBER}</td>
						<td><strong><a href="{FAQ_KATEGORI_URL_DETAIL}">{FAQ_KATEGORI_NAMA}</a></strong><br />
						<p>{FAQ_KATEGORI_KETERANGAN}.</p>
						</td>
						<td class="text-center">{FAQ_KATEGORI_TOTAL_FAQ}</td>
						<td class="table-common-links" ><a href="{FAQ_KATEGORI_URLUPDATE}"><img src="images/button-edit.gif" alt="Edit" title="Ubah" /></td>
						<td class="table-common-links" ><a href="{FAQ_KATEGORI_URLDELETE}"><img src="images/button-delete.gif" alt="Delete" title="Delete" onClick="return ValidateDelete()"/></td>
                  
							<!--form name="mdfyForm" class="form-topik-input" method="POST" action="{FAQ_KATEGORI_URL_MODIFY_PROCESS}">
								<input name="act" type="hidden" value="modifyKategori" />
								<input name="data[ForumKategoriId]" type="hidden" value="{FAQ_KATEGORI_ID}" />
								<input name="mdfyBtn" type="submit" value="Ubah" />
								<input name="mdfyBtn" type="submit" value="Hapus" onClick="return ValidateDelete()"/>
							</form-->
					</tr>
				<!-- /patTemplate:sub -->                 
            <!-- patTemplate:sub condition="EVEN" --> 
					<tr>
						<td>{FAQ_KATEGORI_NUMBER}</td>
						<td><strong><a href="{FAQ_KATEGORI_URL_DETAIL}">{FAQ_KATEGORI_NAMA}</a></strong><br />
						<p>{FAQ_KATEGORI_KETERANGAN}.</p>
						</td>
						<td class="text-center">{FAQ_KATEGORI_TOTAL_FAQ}</td>
						<td class="table-common-links" ><a href="{FAQ_KATEGORI_URLUPDATE}"><img src="images/button-edit.gif" alt="Edit" title="Ubah" /></td>
						<td class="table-common-links" ><a href="{FAQ_KATEGORI_URLDELETE}"><img src="images/button-delete.gif" alt="Delete" title="Delete" onClick="return ValidateDelete()"/></td>
                  
						<!--td class="text-center">
							<form name="mdfyForm" class="form-topik-input" method="POST" action="{FAQ_KATEGORI_URL_MODIFY_PROCESS}">
								<input name="act" type="hidden" value="modifyKategori" />
								<input name="data[ForumKategoriId]" type="hidden" value="{FAQ_KATEGORI_ID}" />
								<input name="mdfyBtn" type="submit" value="Ubah" />
								<input name="mdfyBtn" type="submit" value="Hapus" onClick="return ValidateDelete()"/>
							</form>
						</td-->
					</tr>
				<!-- /patTemplate:sub -->                 
            <!-- /patTemplate:tmpl -->
         </table>         
         </div>
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
   <!-- patTemplate:link name="navigation_page" src="navigation_page" / -->

   <form name="addForm" class="form-common" method="POST" action="{URL_ADD_PROCESS}">
      <input name="act" type="hidden" value="DoAddFaqKategori" />
      <div class="table-responsive">
      <table class="table-form">
         <tr>
            <th colspan="2"><b>Form Tambah Kategori FAQ</b></th>
         </tr>
         <tr>
            <th>Kategori</th>
            <td><input name="Nama" type="text" maxlength="50" size="40" /></td>
         </tr>
         <tr>
            <th>Keterangan</th> 
            <td>
               <textarea name="Keterangan" cols="40" rows="4"></textarea>
            </td>
         </tr>               
         <tr>   
            <th>&nbsp;</th>
            <td>
               <input class="input-disclaimer btn btn-info" name="addBtn" type="submit" value="Simpan" />
               <input class="input-disclaimer btn btn-info" name="rstBtn" type="reset" value="Reset" />   
            </td>
         </tr>
      </table>
   </div>
   </form>
         
<!-- /patTemplate:tmpl -->
