<!-- patTemplate:tmpl name="content" -->
   <h2> {APPLICATION_MODULE} </h2>
   <br>
   <p class="text-muted">Keterangan :</p>
   <p>Perbanas Mobile App adalah aplikasi berbasis mobile yang dapat di instal di android maupun ios. Dengan menggunakan Perbanas Mobile App Anda dapat melakukan proses mengajar maupun input nilai lebih praktis dan efesien.
   </p> <br />
   <!--a href="{CONFIG_BASEADDRESS}images/mobile/perbanas-production.apk" class="active" target="_BLANK"><button class="btn btn-info"><i class="fa fa-download fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;Download Perbanas Mobile App</button>
    </a-->
	 <a href="https://play.google.com/store/apps/details?id=com.perbanas" class="active" target="_BLANK"><button class="btn btn-info"><i class="fa fa-download fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;via play store</button>
    </a>
   
<!-- /patTemplate:tmpl --> <!-- end of content-->
