<!-- patTemplate:tmpl name="document" -->
<html>
<head>
<title>Cetak Nilai Kelas</title>
<link rel="stylesheet" type="text/css" href="styles/a_sia_cetak_krs.css" />
<link rel="stylesheet" type="text/css" media="print" href="../styles/a_sia_cetak_krs_print.css" />

</head>
<body onLoad="window.print();">
<!--div class="page-landscape"-->
<div class="page-portrait">

<div class="nobreak">
<!-- patTemplate:tmpl name="content" -->
<style>
.hidden{
	display:none;
}
</style>
<script language="javascript">

function openWindow(url)
   {
      WindowObjectReference = window.open(url, "CetakForm", "width=600,height=300,resizable,scrollbars=yes,status=1");
      //WindowObjectReference.print();
   }

var arrNilai =
            [
                {SCORE_JSON}
            ];

function roundNumber(rnum,rlength){var newnumber=Math.round(rnum*Math.pow(10,rlength))/Math.pow(10,rlength);return newnumber;}
function jumlah(){
var inHarian=document.form1.elements["inHarian[]"];
var inMandiri=document.form1.elements["inMandiri[]"];
var inKelompok=document.form1.elements["inKelompok[]"];
var inPresentasi=document.form1.elements["inPresentasi[]"];
var inTerstruktur=document.form1.elements["inTerstruktur[]"];
var inTambahan=document.form1.elements["inTambahan[]"];
var inUts=document.form1.elements["inUts[]"];
var inUas=document.form1.elements["inUas[]"];
var inRemedial=document.form1.elements["inRemedial[]"]; //add ccp 30-08-2018

var nilHarian=document.form1.elements["nilHarian[]"];
var nilMandiri=document.form1.elements["nilMandiri[]"];
var nilKelompok=document.form1.elements["nilKelompok[]"];
var nilPresentasi=document.form1.elements["nilPresentasi[]"];
var nilTerstruktur=document.form1.elements["nilTerstruktur[]"];
var nilTambahan=document.form1.elements["nilTambahan[]"];
var nilUts=document.form1.elements["nilUts[]"];
var nilUas=document.form1.elements["nilUas[]"];
var nilRemedial=document.form1.elements["nilRemedial[]"]; //add ccp 30-08-2018
var nilAbsolut=document.form1.elements["nilAbsolut[]"];

var totalBobot=document.getElementById('totalBobot');

var bbtHarian=parseFloat(document.getElementById("bobotHarian").value)/100;
var bbtMandiri=parseFloat(document.getElementById("bobotMandiri").value)/100;
var bbtKelompok=parseFloat(document.getElementById("bobotKelompok").value)/100;
var bbtPresentasi=parseFloat(document.getElementById("bobotPresentasi").value)/100;
var bbtTerstruktur=parseFloat(document.getElementById("bobotTerstruktur").value)/100;
var bbtTambahan=parseFloat(document.getElementById("bobotTambahan").value)/100;
var btUts=parseFloat(document.getElementById("bobotUts").value)/100;
var bbtUas=parseFloat(document.getElementById("bobotUas").value)/100;

if(inHarian.length>0){
for(var i=0;i<inHarian.length;i++){
nilHarian[i].value=roundNumber((inHarian[i].value*bbtHarian),3);
nilMandiri[i].value=roundNumber((inMandiri[i].value*bbtMandiri),3);
nilKelompok[i].value=roundNumber((inKelompok[i].value*bbtKelompok),3);
nilPresentasi[i].value=roundNumber((inPresentasi[i].value*bbtPresentasi),3);
nilTerstruktur[i].value=roundNumber((inTerstruktur[i].value*bbtTerstruktur),3);
nilTambahan[i].value=roundNumber((inTambahan[i].value*bbtTambahan),3);
nilUts[i].value=roundNumber((inUts[i].value*btUts),3);
nilUas[i].value=roundNumber((inUas[i].value*bbtUas),3);
nilRemedial[i].value=roundNumber((inRemedial[i].value*bbtUas),3); //add ccp 30-08-2018
if((inRemedial[i].value > inUas[i].value && inUas[i].value<100) || inRemedial[i].value>=100){ //add ccp 30-08-2018
	nilAbsolut[i].value=roundNumber(((inHarian[i].value*bbtHarian)
	+(inMandiri[i].value*bbtMandiri)
	+(inKelompok[i].value*bbtKelompok)
	+(inPresentasi[i].value*bbtPresentasi)
	+(inTerstruktur[i].value*bbtTerstruktur)
	+(inTambahan[i].value*bbtTambahan)
	+(inUts[i].value*btUts)
	+(inRemedial[i].value*bbtUas)),2); //add ccp 30-08-2018
}else if((inRemedial[i].value <= inUas[i].value && inRemedial[i].value<100) || inUas[i].value>=100){ //add ccp 30-08-2018
	nilAbsolut[i].value=roundNumber(((inHarian[i].value*bbtHarian)
	+(inMandiri[i].value*bbtMandiri)
	+(inKelompok[i].value*bbtKelompok)
	+(inPresentasi[i].value*bbtPresentasi)
	+(inTerstruktur[i].value*bbtTerstruktur)
	+(inTambahan[i].value*bbtTambahan)
	+(inUts[i].value*btUts)
	+(inUas[i].value*bbtUas)),2);
}else{
	nilAbsolut[i].value=roundNumber(((inHarian[i].value*bbtHarian)
	+(inMandiri[i].value*bbtMandiri)
	+(inKelompok[i].value*bbtKelompok)
	+(inPresentasi[i].value*bbtPresentasi)
	+(inTerstruktur[i].value*bbtTerstruktur)
	+(inTambahan[i].value*bbtTambahan)
	+(inUts[i].value*btUts)
	+(inUas[i].value*bbtUas)),2);
}
}
} else {
nilHarian.value=roundNumber((inHarian.value*bbtHarian),3);
nilMandiri.value=roundNumber((inMandiri.value*bbtMandiri),3);
nilKelompok.value=roundNumber((inKelompok.value*bbtKelompok),3);
nilPresentasi.value=roundNumber((inPresentasi.value*bbtPresentasi),3);
nilTerstruktur.value=roundNumber((inTerstruktur.value*bbtTerstruktur),3);
nilTambahan.value=roundNumber((inTambahan.value*bbtTambahan),3);
nilUts.value=roundNumber((inUts.value*btUts),3);
nilUas.value=roundNumber((inUas.value*bbtUas),3);
nilRemedial.value=roundNumber((inRemedial.value*bbtUas),3); //add ccp 30-08-2018
if((inRemedial.value > inUas.value && inUas.value<100) || inRemedial.value>=100){ //add ccp 30-08-2018
	nilAbsolut.value=roundNumber(((inHarian.value*bbtHarian)
	+(inMandiri.value*bbtMandiri)
	+(inKelompok.value*bbtKelompok)
	+(inPresentasi.value*bbtPresentasi)
	+(inTerstruktur.value*bbtTerstruktur)
	+(inTambahan.value*bbtTambahan)
	+(inUts.value*btUts)
	+(inRemedial.value*bbtUas)),2); //add ccp 30-08-2018
}else if((inRemedial.value <= inUas.value && inRemedial.value<100) || inUas.value>=100){ //add ccp 30-08-2018
	nilAbsolut.value=roundNumber(((inHarian.value*bbtHarian)
	+(inMandiri.value*bbtMandiri)
	+(inKelompok.value*bbtKelompok)
	+(inPresentasi.value*bbtPresentasi)
	+(inTerstruktur.value*bbtTerstruktur)
	+(inTambahan.value*bbtTambahan)
	+(inUts.value*btUts)
	+(inUas.value*bbtUas)),2);
}else{ //add ccp 30-08-2018
	nilAbsolut.value=roundNumber(((inHarian.value*bbtHarian)
	+(inMandiri.value*bbtMandiri)
	+(inKelompok.value*bbtKelompok)
	+(inPresentasi.value*bbtPresentasi)
	+(inTerstruktur.value*bbtTerstruktur)
	+(inTambahan.value*bbtTambahan)
	+(inUts.value*btUts)
	+(inUas.value*bbtUas)),2);
}

}
totalBobot.value=(bbtHarian+bbtMandiri+bbtKelompok+bbtPresentasi+bbtTerstruktur+bbtTambahan+btUts+bbtUas)*100;
Calculate();
}

function Calculate(){
            var nilKode = document.form1.elements["nilai[]"];
            var nilAbsolut = document.form1.elements["nilAbsolut[]"];
            
            if(nilAbsolut.length > 0){
                for(var i = 0; i < nilAbsolut.length; i++){
                    for(var j=0; j<arrNilai.length; j++){
			if(arrNilai[j].min <= nilAbsolut[i].value && arrNilai[j].max >= nilAbsolut[i].value && nilAbsolut[i].value != 0.0){
                        <!-- if(arrNilai[j].min <= Math.round(nilAbsolut[i].value) && arrNilai[j].max >= Math.round(nilAbsolut[i].value) && Math.round(nilAbsolut[i].value) != 0.0){  -->
                            nilKode[i].value = arrNilai[j].score
                        }
                    }
                }
            }else{
                for(var j=0; j<arrNilai.length; j++){
		    if(arrNilai[j].min <= nilAbsolut.value && arrNilai[j].max >= nilAbsolut.value && nilAbsolut.value != 0.0){
                    <!-- if(arrNilai[j].min <= Math.round(nilAbsolut.value) && arrNilai[j].max >= Math.round(nilAbsolut.value) && Math.round(nilAbsolut.value) != 0.0){ -->
                        nilKode.value = arrNilai[j].score
                    }
                }
            }
        }

function checkNilai(){
var nilai=window.document.form1.elements["nilai[]"];
var valid=true;
if(typeof nilai[0] !== 'undefined' && nilai[0].nodeName === 'SELECT'){
	// 1 select tag
   if(nilai.length>0){
      for(var i=0;i<nilai.length;i++){
         if(nilai[i].value==""){
         alert("Nilai Relatif tidak boleh kosong, jika belum ada nilainya harus di isi 'T'");
         valid=false;
         break;
         }
      }
   }
}else{
	// array select tag
   //alert(typeof nilai.value);return false;
         if(nilai.value.replace(/[\t\n\r]+/g,'')==""){
            alert("Nilai Relatif tidak boleh kosong, jika belum ada nilainya harus di isi 'T'");
            valid=false;
         }
}

var totalBobot=document.getElementById('totalBobot');
if(totalBobot.value != 100){
  if(totalBobot.value < 100){
    alert("Bobot nilai kurang dari 100%");
  } else if(totalBobot.value > 100){
    alert("Bobot nilai melebihi 100%");
  } else {
    alert("Bobot tidak ditemukan!");
  }
  valid=false;
}

return valid;
}
</script>
   <!-- patTemplate:link name="error_box" src="error_box" / -->
   <table width="100%" class="">
      <tr>
         <td>Noreg Dosen</td>
         <td>: {USER}</td>
      </tr>
	  <tr>
         <td>MataKuliah / Kelas</td>
         <td>: {KELAS} / {MATAKULIAH}</td>
      </tr>
      <tr>
         <td>Semester / Tanggal Cetak</td>
         <td>: {SEMESTER} / {NOW}</td>
      </tr>
	  
	  <!-- patTemplate:tmpl name="nilai_bobot_visible" type="condition" conditionvar="READONLY" -->
      <!-- patTemplate:sub condition="YES" -->
	  <!-- patTemplate:tmpl name="nilai_bobot" -->
	  <tr class="{DISPLAY_HARIAN}">
         <td>{LABEL_KOMPONEN_NILAI_SATU}</td>
         <td>: {BOBOT_HARIAN}<input name="bobotHarian" type="hidden" id="bobotHarian" value="{BOBOT_HARIAN}" size="5" maxlength="5" onkeyup="Javascript:jumlah();"/>%</td>
      </tr>
      <tr class="{DISPLAY_MANDIRI}">
         <td>{LABEL_KOMPONEN_NILAI_DUA}</td>
         <td>: {BOBOT_MANDIRI}<input name="bobotMandiri" type="hidden" id="bobotMandiri" value="{BOBOT_MANDIRI}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" /> %</td>
      </tr>
	  <tr class="{DISPLAY_KELOMPOK}">
         <td>{LABEL_KOMPONEN_NILAI_LIMA}</td>
         <td>: {BOBOT_KELOMPOK}<input name="bobotKelompok" type="hidden" id="bobotKelompok" value="{BOBOT_KELOMPOK}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" /> %</td>
      </tr>
	  <tr class="{DISPLAY_PRESENTASI}">
         <td>{LABEL_KOMPONEN_NILAI_ENAM}</td>
         <td>: {BOBOT_PRESENTASI}<input name="bobotPresentasi" type="hidden" id="bobotPresentasi" value="{BOBOT_PRESENTASI}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" /> %</td>
      </tr>
      <tr class="{DISPLAY_TERSTRUKTUR}">
         <td>{LABEL_KOMPONEN_NILAI_TIGA}</td>
         <td>: {BOBOT_TERSTRUKTUR}<input name="bobotTerstruktur" type="hidden" id="bobotTerstruktur" value="{BOBOT_TERSTRUKTUR}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" /> %</td>
      </tr>
      <tr class="{DISPLAY_TAMBAHAN}">
         <td>{LABEL_KOMPONEN_NILAI_EMPAT}</td>
         <td>: {BOBOT_TAMBAHAN}<input name="bobotTambahan" type="hidden" id="bobotTambahan" value="{BOBOT_TAMBAHAN}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" /> %</td>
      </tr>
      <tr class="{DISPLAY_UTS}">
         <td>{LABEL_KOMPONEN_NILAI_UTS}</td>
         <td>: {BOBOT_UTS}<input name="bobotUts" type="hidden" id="bobotUts" value="{BOBOT_UTS}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" /> %</td>
      </tr>
      <tr class="{DISPLAY_UAS}">
         <td>{LABEL_KOMPONEN_NILAI_UAS}</td>
         <td>: {BOBOT_UAS}<input name="bobotUas" type="hidden" id="bobotUas" value="{BOBOT_UAS}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" /> %</td>
      </tr>
      <tr>
         <td>Total</td>
         <td>: {BOBOT_TOTAL}<input name="totalBobot" type="hidden" id="totalBobot" value="{BOBOT_TOTAL}" size="5" maxlength="5" onload="Javascript:jumlah();" readonly /> %</td>
      </tr>
	  <!-- /patTemplate:tmpl -->
	  <!-- /patTemplate:sub -->
	  <!-- /patTemplate:tmpl -->
   </table> 
   
   <!-- patTemplate:tmpl name="nilai" type="condition" conditionvar="NILAI_AVAILABLE" -->
      <!-- patTemplate:sub condition="YES" -->
      <div style="overflow:auto;">
      <table class="table-common" width="100%" border="1">
         <tr> 
            <th rowspan="2">No</th>
            <th rowspan="2">{LABEL_NIM}</th>
            <th rowspan="2">Nama</th>
            <th colspan="{JUMLAH_DITAMPILKAN}">Nilai Asal</th>
            <th rowspan="2">Remedial</th>
            <th rowspan="2">Absolut</th>
            <th rowspan="2">Relatif</th>
         </tr>
         <tr>
            <th width="1%" class="{DISPLAY_HARIAN}">&nbsp;{LABEL_KOMPONEN_NILAI_SATU}&nbsp;</th>
			<th width="1%" class="{DISPLAY_UTS}">&nbsp;{LABEL_KOMPONEN_NILAI_UTS}&nbsp;</th>
			<th width="1%" class="{DISPLAY_KELOMPOK}">&nbsp;{LABEL_KOMPONEN_NILAI_LIMA}&nbsp;</th>
			<th width="1%" class="{DISPLAY_PRESENTASI}">&nbsp;{LABEL_KOMPONEN_NILAI_ENAM}&nbsp;</th>
			<th width="1%" class="{DISPLAY_MANDIRI}">{LABEL_KOMPONEN_NILAI_DUA}</th>
            <th width="1%" class="{DISPLAY_TERSTRUKTUR}">&nbsp;{LABEL_KOMPONEN_NILAI_TIGA}&nbsp;</th>
            <th width="1%" class="{DISPLAY_TAMBAHAN}">&nbsp;{LABEL_KOMPONEN_NILAI_EMPAT}&nbsp;</th>
           
            <th width="1%" class="{DISPLAY_UAS}">&nbsp;{LABEL_KOMPONEN_NILAI_UAS}&nbsp;</th>
         </tr>
         
            <!-- patTemplate:tmpl name="nilai_access" type="condition" conditionvar="READONLY" -->        
               <!-- patTemplate:sub condition="YES" -->
			   
			    <!-- patTemplate:tmpl name="nilai_access_item_yes" type="condition" conditionvar="ODDEVEN" -->
				  <!-- patTemplate:sub condition="EVEN" -->
                        <!-- patTemplate:tmpl name="nilai_access_item_yes_ok" -->             
                        <tr>
							<td height="20px" align="center">{NILAI_NOMOR}</td>                          
							<td align="center">{NILAI_NIF}</td>                          
							<td>&nbsp;{NILAI_NAMA}<!--a href="#" onclick="openWindow('{NILAI_URL_DETAIL}')">{NILAI_NAMA} </a--></td>
						 
							<!-- patTemplate:tmpl name="nilai_dpna_noedit" -->
							<td class="{DISPLAY_HARIAN}">{KRSDPNSHARIANASAL}</td>
							<td class="{DISPLAY_UTS}">{KRSDPNSUTSASAL}</td>
							<td class="{DISPLAY_KELOMPOK}">{KRSDPNAKELOMPOKASAL}</td>
							<td class="{DISPLAY_PRESENTASI}">{KRSDPNAPRESENTASIASAL}</td>
							<td class="{DISPLAY_MANDIRI}">{KRSDPNAMANDIRIASAL}</td>
							<td class="{DISPLAY_TERSTRUKTUR}">{KRSDPNATERSTRUKTURASAL}</td>
							<td class="{DISPLAY_TAMBAHAN}">{KRSDPNATAMBAHANASAL}</td>
							
							<td class="{DISPLAY_UAS}">{KRSDPNAUASASAL}</td>                          
							<td class="{DISPLAY_UAS}">{KRSDPNAREMEDIALASAL}</td>   
							<td>{KRSDPNSABSOLUT}</td>
                           
							<!-- /patTemplate:tmpl -->
							<td>{NILAI_NILAI}</td>						 
						
						</tr>
                       <!-- /patTemplate:tmpl -->
				  <!-- /patTemplate:sub -->
                <!-- /patTemplate:tmpl -->
				
               <!-- /patTemplate:sub -->
            <!-- /patTemplate:tmpl -->
         </tr>
      </table>
      </div>
      
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:link name="empty_box" src="empty_box" / -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl --> <!-- end of nilai -->
<!-- /patTemplate:tmpl -->
   

</div>
</body>
</html>
<!-- /patTemplate:tmpl -->