<!-- patTemplate:tmpl name="content" -->
<style>
.hidden{
	display:none;
}
</style>
<script language="javascript">
window.onload=jumlah;
function openWindow(url){
      WindowObjectReference = window.open(url, "CetakForm", "width=600,height=300,resizable,scrollbars=yes,status=1");
      //WindowObjectReference.print();
}

var arrNilai =
            [
                {SCORE_JSON}
            ];

function roundNumber(rnum,rlength){
	var newnumber=Math.round(rnum*Math.pow(10,rlength))/Math.pow(10,rlength);
	return newnumber;
}
function jumlah(){
	var nilAbsolutRaw=document.form1.elements["nilAbsolut[]"];
	var nilAbsolut=nilAbsolutRaw.length !== undefined ? nilAbsolutRaw : [nilAbsolutRaw];
	
	var totalBobot=document.getElementById('totalBobot');
	var bbtCpmk1=parseFloat(document.getElementById("bobotCpmk1").value)/100;
	var bbtCpmk2=parseFloat(document.getElementById("bobotCpmk2").value)/100;
	var bbtCpmk3=parseFloat(document.getElementById("bobotCpmk3").value)/100;
	var bbtCpmk4=parseFloat(document.getElementById("bobotCpmk4").value)/100;
	var bbtCpmk5=parseFloat(document.getElementById("bobotCpmk5").value)/100;
	var bbtCpmk6=parseFloat(document.getElementById("bobotCpmk6").value)/100;
	
	var nilCpmk1Raw=document.form1.elements["inCpmk1[]"];
	var nilCpmk1=nilCpmk1Raw.length !== undefined ? nilCpmk1Raw : [nilCpmk1Raw];
	
	var nilCpmk2Raw=document.form1.elements["inCpmk2[]"];
	var nilCpmk2=nilCpmk2Raw.length !== undefined ? nilCpmk2Raw : [nilCpmk2Raw];
	
	var nilCpmk3Raw=document.form1.elements["inCpmk3[]"];
	var nilCpmk3=nilCpmk3Raw.length !== undefined ? nilCpmk3Raw : [nilCpmk3Raw];
	
	var nilCpmk4Raw=document.form1.elements["inCpmk4[]"];
	var nilCpmk4=nilCpmk4Raw.length !== undefined ? nilCpmk4Raw : [nilCpmk4Raw];
	
	var nilCpmk5Raw=document.form1.elements["inCpmk5[]"];
	var nilCpmk5=nilCpmk5Raw.length !== undefined ? nilCpmk5Raw : [nilCpmk5Raw];
	
	var nilCpmk6Raw=document.form1.elements["inCpmk6[]"];
	var nilCpmk6=nilCpmk6Raw.length !== undefined ? nilCpmk6Raw : [nilCpmk6Raw];
	
	if(nilAbsolut.length>0){
		for(var i=0;i<nilCpmk1.length;i++){
			nilAbsolut[i].value=roundNumber(((nilCpmk1[i].value*bbtCpmk1)
			+(nilCpmk2[i].value*bbtCpmk2)
			+(nilCpmk3[i].value*bbtCpmk3)
			+(nilCpmk4[i].value*bbtCpmk4)
			+(nilCpmk5[i].value*bbtCpmk5)
			+(nilCpmk6[i].value*bbtCpmk6)),2);

		}
	} else {
		nilAbsolut.value=roundNumber((
		(nilCpmk1.value*bbtCpmk1)
		+(nilCpmk2.value*bbtCpmk2)
		+(nilCpmk3.value*bbtCpmk3)
		+(nilCpmk4.value*bbtCpmk4)
		+(nilCpmk5.value*bbtCpmk5)
		+(nilCpmk6.value*bbtCpmk6)),2);

	}

	totalBobot.value=(bbtCpmk1+bbtCpmk2+bbtCpmk3+bbtCpmk4+bbtCpmk5+bbtCpmk6)*100;
	Calculate();
}

function Calculate(){
	var nilKode = document.form1.elements["nilai[]"];
	var nilAbsolut = document.form1.elements["nilAbsolut[]"];
	
	var bbtCpmk1=parseFloat(document.getElementById("bobotCpmk1").value)/100;
	var bbtCpmk2=parseFloat(document.getElementById("bobotCpmk2").value)/100;
	var bbtCpmk3=parseFloat(document.getElementById("bobotCpmk3").value)/100;
	var bbtCpmk4=parseFloat(document.getElementById("bobotCpmk4").value)/100;
	var bbtCpmk5=parseFloat(document.getElementById("bobotCpmk5").value)/100;
	var bbtCpmk6=parseFloat(document.getElementById("bobotCpmk6").value)/100;
	
	var nilCpmk1=document.form1.elements["inCpmk1[]"];
	var nilCpmk2=document.form1.elements["inCpmk2[]"];
	var nilCpmk3=document.form1.elements["inCpmk3[]"];
	var nilCpmk4=document.form1.elements["inCpmk4[]"];
	var nilCpmk5=document.form1.elements["inCpmk5[]"];
	var nilCpmk6=document.form1.elements["inCpmk6[]"];
           
			
	if(nilAbsolut.length > 0){
		for(var i = 0; i < nilAbsolut.length; i++){
			for(var j=0; j<arrNilai.length; j++){
				
				if(nilCpmk1[i].value <45){
					nilCpmk1[i].style.backgroundColor = "red"
				}else{nilCpmk1[i].style.backgroundColor = ""}
				if(nilCpmk2[i].value <45){
					nilCpmk2[i].style.backgroundColor = "red"
				}else{nilCpmk2[i].style.backgroundColor = ""}
				if(nilCpmk3[i].value <45){
					nilCpmk3[i].style.backgroundColor = "red"
				}else{nilCpmk3[i].style.backgroundColor = ""}
				if(nilCpmk4[i].value <45){
					nilCpmk4[i].style.backgroundColor = "red"
				}else{nilCpmk4[i].style.backgroundColor = ""}
				if(nilCpmk5[i].value <45){
					nilCpmk5[i].style.backgroundColor = "red"
				}else{nilCpmk5[i].style.backgroundColor = ""}
				if(nilCpmk6[i].value <45){
					nilCpmk6[i].style.backgroundColor = "red"
				}else{nilCpmk6[i].style.backgroundColor = ""}
					
				if((nilCpmk1[i].value <45 && bbtCpmk1 > 0) || (nilCpmk2[i].value <45 && bbtCpmk2 >0) || (nilCpmk3[i].value < 45 && bbtCpmk3 >0) || (nilCpmk4[i].value <45 && bbtCpmk4 >0) || (nilCpmk5[i].value <45 && bbtCpmk5 >0) || (nilCpmk6[i].value <45 && bbtCpmk6 > 0)){
					nilKode[i].value = "E"
				}else{
					if(arrNilai[j].min <= nilAbsolut[i].value && arrNilai[j].max >= nilAbsolut[i].value && nilAbsolut[i].value != 0.0){
						nilKode[i].value = arrNilai[j].score
					}
				}
			}
		}
	}else{
		for(var j=0; j<arrNilai.length; j++){
		
			if(nilCpmk1.value <45){
				nilCpmk1.style.backgroundColor = "red"
			}else{nilCpmk1.style.backgroundColor = ""}
			if(nilCpmk2.value <45){
				nilCpmk2.style.backgroundColor = "red"
			}else{nilCpmk2.style.backgroundColor = ""}
			if(nilCpmk3.value <45){
				nilCpmk3.style.backgroundColor = "red"
			}else{nilCpmk3.style.backgroundColor = ""}
			if(nilCpmk4.value <45){
				nilCpmk4.style.backgroundColor = "red"
			}else{nilCpmk4.style.backgroundColor = ""}
			if(nilCpmk5.value <45){
				nilCpmk5.style.backgroundColor = "red"
			}else{nilCpmk5.style.backgroundColor = ""}
			if(nilCpmk6.value <45){
				nilCpmk6.style.backgroundColor = "red"
			}else{nilCpmk6.style.backgroundColor = ""}
			
			if((nilCpmk1.value <45 && bbtCpmk1 > 0) || (nilCpmk2.value <45 && bbtCpmk2 >0) || (nilCpmk3.value <45 && bbtCpmk3 >0) || (nilCpmk4.value <45 && bbtCpmk4 >0) || (nilCpmk5.value <45 && bbtCpmk5 >0) || (nilCpmk6.value <45 && bbtCpmk6 > 0)){
					nilKode.value = "E"
			}else{
				if(arrNilai[j].min <= nilAbsolut.value && arrNilai[j].max >= nilAbsolut.value && nilAbsolut.value != 0.0){
					nilKode.value = arrNilai[j].score
				}
			}
		}
	}
}

function checkNilai(){
	var nilAbsolut=window.document.form1.elements["nilAbsolut[]"];
	var nilai=window.document.form1.elements["nilai[]"];
	var valid=true;

	if(nilAbsolut.length>0){
		for(var n=0;n<nilAbsolut.length;n++){
			if(nilAbsolut[n].value > 100 || nilAbsolut[n].value =="NaN"){
				alert("ada nilai yang melebihi 100 atau ada kesalahan dalam format nilainya");
				nilAbsolut[n].focus();
				valid=false;
				break;
			}
		}
	}


	if(typeof nilai[0] !== 'undefined' && nilai[0].nodeName === 'SELECT'){
		// 1 select tag
	   if(nilai.length>0){
		  for(var i=0;i<nilai.length;i++){
			 if(nilai[i].value==""){
			 alert("Nilai Relatif tidak boleh kosong, jika belum ada nilainya harus di isi 'T'");
			 valid=false;
			 break;
			 }
		  }
	   }
	}else{
		 if(nilai.value.replace(/[\t\n\r]+/g,'')==""){
			alert("Nilai Relatif tidak boleh kosong, jika belum ada nilainya harus di isi 'T'");
			valid=false;
		 }
	}

	var totalBobotEl = document.getElementById('totalBobot');
	var totalBobot = Math.round(parseFloat(totalBobotEl.value) * 100) / 100;
	if(totalBobot != 100){
	  if(totalBobot < 100){
		alert("Bobot nilai kurang dari 100%");
	  } else if(totalBobot > 100){
		alert("Bobot nilai melebihi 100%");
	  } else {
		alert("Bobot tidak ditemukan!");
	  }
	  valid=false;
	}

	return valid;
}
</script>

<h2><center>Perbaikan Nilai OBE Sub CPMK</center></h2> 
   <!-- patTemplate:link name="error_box" src="error_box" / -->
   <form name="form1" method="post" action="{URL_PROCESS}"> 
   <table width="100%" class="table-list">
      <tr>
         <th width="15%">MataKuliah</th>
         <td>{KELAS}</td>
      </tr>
      <tr>
         <th>Kelas [Semester]</th>
         <td>{MATAKULIAH} [{SEMESTER}]</td>
      </tr>
	  <!-- patTemplate:tmpl name="nilai_bobot_visible" type="condition" conditionvar="READONLY" -->
      <!-- patTemplate:sub condition="NO" -->
	  <!-- patTemplate:tmpl name="nilai_bobot" -->
	  <tr>
         <th>Keterangan</th>
         <td>
			<div class="{DISPLAY_CPMK1}">Sub CPMK1 : {NAMA_CPMK1}<br></div>
			<div class="{DISPLAY_CPMK2}">Sub CPMK2 : {NAMA_CPMK2}<br></div>
			<div class="{DISPLAY_CPMK3}">Sub CPMK3 : {NAMA_CPMK3}<br></div>
			<div class="{DISPLAY_CPMK4}">Sub CPMK4 : {NAMA_CPMK4}<br></div>
			<div class="{DISPLAY_CPMK5}">Sub CPMK5 : {NAMA_CPMK5}<br></div>
			<div class="{DISPLAY_CPMK6}">Sub CPMK6 : {NAMA_CPMK6}<br></div>
		 </td>
      </tr>
	  <tr>
		<td colspan="2" align="center">
			<table border="1">
				<tr>
					<td align="center">Sub CPMK</td>
					<td class="{DISPLAY_HARIAN}">{LABEL_KOMPONEN_NILAI_SATU}</td>
					<td class="{DISPLAY_MANDIRI}">{LABEL_KOMPONEN_NILAI_DUA}</td>
					<td class="{DISPLAY_KELOMPOK}">{LABEL_KOMPONEN_NILAI_LIMA}</td>
					<td class="{DISPLAY_PRESENTASI}">{LABEL_KOMPONEN_NILAI_ENAM}</td>
					<td class="{DISPLAY_TERSTRUKTUR}">{LABEL_KOMPONEN_NILAI_TIGA}</td>
					<td class="{DISPLAY_TAMBAHAN}">{LABEL_KOMPONEN_NILAI_EMPAT}</td>
					<td class="{DISPLAY_UTS}">{LABEL_KOMPONEN_NILAI_UTS}</td>
					<td class="{DISPLAY_UAS}">{LABEL_KOMPONEN_NILAI_UAS}</td>
				</tr>
				<tr class="{DISPLAY_CPMK1}">
					<td align="center">1 ({BOBOTCPMK1}%)<input name="bobotCpmk1" type="hidden" id="bobotCpmk1" value="{BOBOTCPMK1}" size="5" onkeyup="Javascript:jumlah();" /></td>
					<td align="center" class="{DISPLAY_HARIAN}">{BOBOT_HARIAN1}<input disabled name="bobotHarian1" type="hidden" id="bobotHarian1" value="{BOBOT_HARIAN1}" size="5" onkeyup="Javascript:jumlah();"/> %</td>
					<td align="center" class="{DISPLAY_MANDIRI}">{BOBOT_MANDIRI1}<input disabled name="bobotMandiri1" type="hidden" id="bobotMandiri1" value="{BOBOT_MANDIRI1}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_KELOMPOK}">{BOBOT_KELOMPOK1}<input disabled name="bobotKelompok1" type="hidden" id="bobotKelompok1" value="{BOBOT_KELOMPOK1}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_PRESENTASI}">{BOBOT_PRESENTASI1}<input  disabled name="bobotPresentasi1" type="hidden" id="bobotPresentasi1" value="{BOBOT_PRESENTASI1}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TERSTRUKTUR}">{BOBOT_TERSTRUKTUR1}<input disabled name="bobotTerstruktur1" type="hidden" id="bobotTerstruktur1" value="{BOBOT_TERSTRUKTUR1}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TAMBAHAN}">{BOBOT_TAMBAHAN1}<input disabled name="bobotTambahan1" type="hidden" id="bobotTambahan1" value="{BOBOT_TAMBAHAN1}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UTS}">{BOBOT_UTS1}<input disabled name="bobotUts1" type="hidden" id="bobotUts1" value="{BOBOT_UTS1}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UAS}">{BOBOT_UAS1}<input disabled name="bobotUas1" type="hidden" id="bobotUas1" value="{BOBOT_UAS1}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
				</tr>
				<tr class="{DISPLAY_CPMK2}">
					<td align="center">2 ({BOBOTCPMK2}%)<input name="bobotCpmk2" type="hidden" id="bobotCpmk2" value="{BOBOTCPMK2}" size="5" onkeyup="Javascript:jumlah();" /></td>
					<td align="center" class="{DISPLAY_HARIAN}">{BOBOT_HARIAN2}<input disabled name="bobotHarian2" type="hidden" id="bobotHarian2" value="{BOBOT_HARIAN2}" size="5" onkeyup="Javascript:jumlah();"/> %</td>
					<td align="center" class="{DISPLAY_MANDIRI}">{BOBOT_MANDIRI2}<input disabled name="bobotMandiri2" type="hidden" id="bobotMandiri2" value="{BOBOT_MANDIRI2}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_KELOMPOK}">{BOBOT_KELOMPOK2}<input disabled name="bobotKelompok2" type="hidden" id="bobotKelompok2" value="{BOBOT_KELOMPOK2}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_PRESENTASI}">{BOBOT_PRESENTASI2}<input disabled name="bobotPresentasi2" type="hidden" id="bobotPresentasi2" value="{BOBOT_PRESENTASI2}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TERSTRUKTUR}">{BOBOT_TERSTRUKTUR2}<input disabled name="bobotTerstruktur2" type="hidden" id="bobotTerstruktur2" value="{BOBOT_TERSTRUKTUR2}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TAMBAHAN}">{BOBOT_TAMBAHAN2}<input disabled name="bobotTambahan2" type="hidden" id="bobotTambahan2" value="{BOBOT_TAMBAHAN2}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UTS}">{BOBOT_UTS2}<input disabled name="bobotUts2" type="hidden" id="bobotUts2" value="{BOBOT_UTS2}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UAS}">{BOBOT_UAS2}<input disabled name="bobotUas2" type="hidden" id="bobotUas2" value="{BOBOT_UAS2}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
				</tr>
				<tr class="{DISPLAY_CPMK3}">
					<td align="center">3 ({BOBOTCPMK3}%)<input name="bobotCpmk3" type="hidden" id="bobotCpmk3" value="{BOBOTCPMK3}" size="5" onkeyup="Javascript:jumlah();" /></td>
					<td align="center" class="{DISPLAY_HARIAN}">{BOBOT_HARIAN3}<input disabled name="bobotHarian3" type="hidden" id="bobotHarian3" value="{BOBOT_HARIAN3}" size="5" onkeyup="Javascript:jumlah();"/> %</td>
					<td align="center" class="{DISPLAY_MANDIRI}">{BOBOT_MANDIRI3}<input disabled name="bobotMandiri3" type="hidden" id="bobotMandiri3" value="{BOBOT_MANDIRI3}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_KELOMPOK}">{BOBOT_KELOMPOK3}<input disabled name="bobotKelompok3" type="hidden" id="bobotKelompok3" value="{BOBOT_KELOMPOK3}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_PRESENTASI}">{BOBOT_PRESENTASI3}<input disabled name="bobotPresentasi3" type="hidden" id="bobotPresentasi3" value="{BOBOT_PRESENTASI3}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TERSTRUKTUR}">{BOBOT_TERSTRUKTUR3}<input disabled name="bobotTerstruktur3" type="hidden" id="bobotTerstruktur3" value="{BOBOT_TERSTRUKTUR3}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TAMBAHAN}">{BOBOT_TAMBAHAN3}<input disabled name="bobotTambahan3" type="hidden" id="bobotTambahan3" value="{BOBOT_TAMBAHAN3}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UTS}">{BOBOT_UTS3}<input disabled name="bobotUts3" type="hidden" id="bobotUts3" value="{BOBOT_UTS3}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UAS}">{BOBOT_UAS3}<input disabled name="bobotUas3" type="hidden" id="bobotUas3" value="{BOBOT_UAS3}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
				</tr>
				<tr class="{DISPLAY_CPMK4}">
					<td align="center">4 ({BOBOTCPMK4}%)<input name="bobotCpmk4" type="hidden" id="bobotCpmk4" value="{BOBOTCPMK4}" size="5" onkeyup="Javascript:jumlah();" /></td>
					<td align="center" class="{DISPLAY_HARIAN}">{BOBOT_HARIAN4}<input disabled name="bobotHarian4" type="hidden" id="bobotHarian4" value="{BOBOT_HARIAN4}" size="5" onkeyup="Javascript:jumlah();"/> %</td>
					<td align="center" class="{DISPLAY_MANDIRI}">{BOBOT_MANDIRI4}<input disabled name="bobotMandiri4" type="hidden" id="bobotMandiri4" value="{BOBOT_MANDIRI4}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_KELOMPOK}">{BOBOT_KELOMPOK4}<input disabled name="bobotKelompok4" type="hidden" id="bobotKelompok4" value="{BOBOT_KELOMPOK4}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_PRESENTASI}">{BOBOT_PRESENTASI4}<input disabled name="bobotPresentasi4" type="hidden" id="bobotPresentasi4" value="{BOBOT_PRESENTASI4}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TERSTRUKTUR}">{BOBOT_TERSTRUKTUR4}<input disabled name="bobotTerstruktur4" type="hidden" id="bobotTerstruktur4" value="{BOBOT_TERSTRUKTUR4}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TAMBAHAN}">{BOBOT_TAMBAHAN4}<input disabled name="bobotTambahan4" type="hidden" id="bobotTambahan4" value="{BOBOT_TAMBAHAN4}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UTS}">{BOBOT_UTS4}<input disabled name="bobotUts4" type="hidden" id="bobotUts4" value="{BOBOT_UTS4}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UAS}">{BOBOT_UAS4}<input disabled name="bobotUas4" type="hidden" id="bobotUas4" value="{BOBOT_UAS4}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
				</tr>
				<tr class="{DISPLAY_CPMK5}">
					<td align="center">5 ({BOBOTCPMK5}%)<input name="bobotCpmk5" type="hidden" id="bobotCpmk5" value="{BOBOTCPMK5}" size="5" onkeyup="Javascript:jumlah();" /></td>
					<td align="center" class="{DISPLAY_HARIAN}">{BOBOT_HARIAN5}<input disabled name="bobotHarian5" type="hidden" id="bobotHarian5" value="{BOBOT_HARIAN5}" size="5" onkeyup="Javascript:jumlah();"/> %</td>
					<td align="center" class="{DISPLAY_MANDIRI}">{BOBOT_MANDIRI5}<input disabled name="bobotMandiri5" type="hidden" id="bobotMandiri5" value="{BOBOT_MANDIRI5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_KELOMPOK}">{BOBOT_KELOMPOK5}<input disabled name="bobotKelompok5" type="hidden" id="bobotKelompok5" value="{BOBOT_KELOMPOK5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_PRESENTASI}">{BOBOT_PRESENTASI5}<input disabled name="bobotPresentasi5" type="hidden" id="bobotPresentasi5" value="{BOBOT_PRESENTASI5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TERSTRUKTUR}">{BOBOT_TERSTRUKTUR5}<input disabled name="bobotTerstruktur5" type="hidden" id="bobotTerstruktur5" value="{BOBOT_TERSTRUKTUR5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TAMBAHAN}">{BOBOT_TAMBAHAN5}<input disabled name="bobotTambahan5" type="hidden" id="bobotTambahan5" value="{BOBOT_TAMBAHAN5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UTS}">{BOBOT_UTS5}<input disabled name="bobotUts5" type="hidden" id="bobotUts5" value="{BOBOT_UTS5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UAS}">{BOBOT_UAS5}<input disabled name="bobotUas5" type="hidden" id="bobotUas5" value="{BOBOT_UAS5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
				</tr>
				<tr class="{DISPLAY_CPMK6}">
					<td align="center">6 ({BOBOTCPMK6}%)<input name="bobotCpmk6" type="hidden" id="bobotCpmk6" value="{BOBOTCPMK6}" size="5" onkeyup="Javascript:jumlah();" /></td>
					<td align="center" class="{DISPLAY_HARIAN}">{BOBOT_HARIAN6}<input disabled name="bobotHarian6" type="hidden" id="bobotHarian6" value="{BOBOT_HARIAN6}" size="5" onkeyup="Javascript:jumlah();"/> %</td>
					<td align="center" class="{DISPLAY_MANDIRI}">{BOBOT_MANDIRI6}<input disabled name="bobotMandiri6" type="hidden" id="bobotMandiri6" value="{BOBOT_MANDIRI6}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_KELOMPOK}">{BOBOT_KELOMPOK6}<input disabled name="bobotKelompok6" type="hidden" id="bobotKelompok6" value="{BOBOT_KELOMPOK6}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_PRESENTASI}">{BOBOT_PRESENTASI6}<input disabled name="bobotPresentasi6" type="hidden" id="bobotPresentasi6" value="{BOBOT_PRESENTASI6}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TERSTRUKTUR}">{BOBOT_TERSTRUKTUR6}<input disabled name="bobotTerstruktur6" type="hidden" id="bobotTerstruktur6" value="{BOBOT_TERSTRUKTUR6}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_TAMBAHAN}">{BOBOT_TAMBAHAN6}<input disabled name="bobotTambahan6" type="hidden" id="bobotTambahan6" value="{BOBOT_TAMBAHAN6}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UTS}">{BOBOT_UTS6}<input disabled name="bobotUts6" type="hidden" id="bobotUts6" value="{BOBOT_UTS5}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
					<td align="center" class="{DISPLAY_UAS}">{BOBOT_UAS6}<input disabled name="bobotUas6" type="hidden" id="bobotUas6" value="{BOBOT_UAS6}" size="5" onkeyup="Javascript:jumlah();" /> %</td>
				</tr>
				
				<tr >
					<td align="center" style="background-color:#D3D3D3;">Total</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_HARIAN}">{BOBOT_HARIAN}<input  name="bobotHarian" type="hidden" id="bobotHarian" value="{BOBOT_HARIAN}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_MANDIRI}">{BOBOT_MANDIRI}<input  name="bobotMandiri" type="hidden" id="bobotMandiri" value="{BOBOT_MANDIRI}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_KELOMPOK}">{BOBOT_KELOMPOK}<input  name="bobotKelompok" type="hidden" id="bobotKelompok" value="{BOBOT_KELOMPOK}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_PRESENTASI}">{BOBOT_PRESENTASI}<input  name="bobotPresentasi" type="hidden" id="bobotPresentasi" value="{BOBOT_PRESENTASI}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_TERSTRUKTUR}">{BOBOT_TERSTRUKTUR}<input  name="bobotTerstruktur" type="hidden" id="bobotTerstruktur" value="{BOBOT_TERSTRUKTUR}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_TAMBAHAN}">{BOBOT_TAMBAHAN}<input  name="bobotTambahan" type="hidden" id="bobotTambahan" value="{BOBOT_TAMBAHAN}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_UTS}">{BOBOT_UTS}<input  name="bobotUts" type="hidden" id="bobotUts" value="{BOBOT_UTS}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %</td>
					<td align="center" style="background-color:#D3D3D3;" class="{DISPLAY_UAS}">{BOBOT_UAS}<input  name="bobotUas" type="hidden" id="bobotUas" value="{BOBOT_UAS}" size="5" maxlength="5" onkeyup="Javascript:jumlah();" disabled /> %
					<input name="totalBobot" type="hidden" id="totalBobot" value="{BOBOT_TOTAL}" size="5" maxlength="5" onload="Javascript:jumlah();" readonly /></td>
				</tr>
			</table>
		</td>
	  </tr>
	  <!-- /patTemplate:tmpl -->
	  <!-- /patTemplate:sub -->
	  <!-- /patTemplate:tmpl -->
   </table>
   
	Total data : {TOTAL} <br>
	Halaman : {PAGE} dari {HALAMAN}<br>
	<!-- patTemplate:tmpl name="link_halaman" -->
		{NOMOR_HALAMAN}
	<!-- /patTemplate:tmpl -->
	<br><br>
	<input type="hidden" value="{PAGE}" name="no_page" >
	<input type="hidden" value="{HALAMAN}" name="total_halaman" >
   {NEXT}

   <!-- <table width="240" class="table-list">
      <tr>
        <td ><h3>Metode Penilaian</h3></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><select type="checkbox" name="cara_penilaian" id="cara_penilaian"> -->
		<!-- patTemplate:tmpl name="cara_penilaian" -->
		<!--<option value="{ID}" {IS_SELECT}>{NAMA}</option> -->
		<!-- /patTemplate:tmpl -->
      <!--  </select> -->
      <!--  </td> -->
       <!-- <td></td> -->
     <!-- </tr> -->
   <!-- </table> -->
   <!-- patTemplate:tmpl name="nilai" type="condition" conditionvar="NILAI_AVAILABLE" -->
      <!-- patTemplate:sub condition="YES" -->
	  
      <div style="overflow:auto;">
      <table class="table-common" width="100%">
         <tr>  
            <th rowspan="2">{LABEL_NIM}</th>
            <th rowspan="2">Nama</th>
            <th colspan="{JUMLAH_DITAMPILKAN}">Nilai Asal</th>
            <th colspan="{JUMLAH_DITAMPILKAN_CPMK}">Sub CPMK</th>
            <th rowspan="2">Absolut</th>
            <th rowspan="2">Relatif<font color="red">*</font></th>
         </tr>
         <tr>
            <th width="1%" class="{DISPLAY_HARIAN}">{LABEL_KOMPONEN_NILAI_SATU}</th>
            <th width="1%" class="{DISPLAY_MANDIRI}">{LABEL_KOMPONEN_NILAI_DUA}</th>
			<th width="1%" class="{DISPLAY_KELOMPOK}">{LABEL_KOMPONEN_NILAI_LIMA}</th>
			<th width="1%" class="{DISPLAY_PRESENTASI}">{LABEL_KOMPONEN_NILAI_ENAM}</th>
            <th width="1%" class="{DISPLAY_TERSTRUKTUR}">{LABEL_KOMPONEN_NILAI_TIGA}</th>
            <th width="1%" class="{DISPLAY_TAMBAHAN}">{LABEL_KOMPONEN_NILAI_EMPAT}</th>
			<th width="1%" class="{DISPLAY_UTS}">{LABEL_KOMPONEN_NILAI_UTS}</th>
            <th width="1%" class="{DISPLAY_UAS}">{LABEL_KOMPONEN_NILAI_UAS}</th>
			
            <th width="1%" class="{DISPLAY_CPMK1}">1</th>
            <th width="1%" class="{DISPLAY_CPMK2}">2</th>
            <th width="1%" class="{DISPLAY_CPMK3}">3</th>
            <th width="1%" class="{DISPLAY_CPMK4}">4</th>
            <th width="1%" class="{DISPLAY_CPMK5}">5</th>
            <th width="1%" class="{DISPLAY_CPMK6}">6</th>
         </tr>
         
            <!-- patTemplate:tmpl name="nilai_access" type="condition" conditionvar="READONLY" -->        
               <!-- patTemplate:sub condition="YES" -->
			    <!-- patTemplate:tmpl name="nilai_access_item_yes" type="condition" conditionvar="ODDEVEN" -->
                     <!-- patTemplate:sub condition="ODD" -->
                        <!-- patTemplate:tmpl name="nilai_access_item_yes_ok" -->             
                        <tr>
                              
							<td>{NILAI_NIF}  </td>
							<td>{NILAI_NAMA}<!--a href="#" onclick="openWindow('{NILAI_URL_DETAIL}')">{NILAI_NAMA} </a--></td>
						 
							<!-- patTemplate:tmpl name="nilai_dpna_noedit" -->
							<td class="{DISPLAY_HARIAN}">{KRSDPNSHARIANASAL}</td>
							<td class="{DISPLAY_MANDIRI}">{KRSDPNAMANDIRIASAL}</td>
							<td class="{DISPLAY_KELOMPOK}">{KRSDPNAKELOMPOKASAL}</td>
							<td class="{DISPLAY_PRESENTASI}">{KRSDPNAPRESENTASIASAL}</td>
							<td class="{DISPLAY_TERSTRUKTUR}">{KRSDPNATERSTRUKTURASAL}</td>
							<td class="{DISPLAY_TAMBAHAN}">{KRSDPNATAMBAHANASAL}</td>
							<td class="{DISPLAY_UTS}">{KRSDPNSUTSASAL}</td>
							<td class="{DISPLAY_UAS}">{KRSDPNAUASASAL}</td>          

							<td class="{DISPLAY_CPMK1}">1</td>
							<td class="{DISPLAY_CPMK2}">2</td>
							<td class="{DISPLAY_CPMK3}">3</td>
							<td class="{DISPLAY_CPMK4}">4</td>
							<td class="{DISPLAY_CPMK5}">5</td>
							<td class="{DISPLAY_CPMK6}">6</td>
							
							<td>{KRSDPNSABSOLUT}</td>
                           
							<!-- /patTemplate:tmpl -->
							<td>{NILAI_NILAI}</td>
						 
						</tr>
                       <!-- /patTemplate:tmpl -->
				  <!-- /patTemplate:sub -->
				  <!-- patTemplate:sub condition="EVEN" -->
                        <!-- patTemplate:tmpl name="nilai_access_item_yes_ok" -->             
                        <tr>
							<td>{NILAI_NIF}</td>                          
							<td>{NILAI_NAMA}<!--a href="#" onclick="openWindow('{NILAI_URL_DETAIL}')">{NILAI_NAMA} </a--></td>
						 
							<!-- patTemplate:tmpl name="nilai_dpna_noedit" -->
							<td class="{DISPLAY_HARIAN}">{KRSDPNSHARIANASAL}</td>
							<td class="{DISPLAY_MANDIRI}">{KRSDPNAMANDIRIASAL}</td>
							<td class="{DISPLAY_KELOMPOK}">{KRSDPNAKELOMPOKASAL}</td>
							<td class="{DISPLAY_PRESENTASI}">{KRSDPNAPRESENTASIASAL}</td>
							<td class="{DISPLAY_TERSTRUKTUR}">{KRSDPNATERSTRUKTURASAL}</td>
							<td class="{DISPLAY_TAMBAHAN}">{KRSDPNATAMBAHANASAL}</td>
							<td class="{DISPLAY_UTS}">{KRSDPNSUTSASAL}</td>
							<td class="{DISPLAY_UAS}">{KRSDPNAUASASAL}</td>          

							<td class="{DISPLAY_CPMK1}">{KRSDPNACPMKASAL1}</td>
							<td class="{DISPLAY_CPMK2}">{KRSDPNACPMKASAL2}</td>
							<td class="{DISPLAY_CPMK3}">{KRSDPNACPMKASAL3}</td>
							<td class="{DISPLAY_CPMK4}">{KRSDPNACPMKASAL4}</td>
							<td class="{DISPLAY_CPMK5}">{KRSDPNACPMKASAL5}</td>
							<td class="{DISPLAY_CPMK6}">{KRSDPNACPMKASAL6}</td>
							
							<td>{KRSDPNSABSOLUT}</td>
                           
							<!-- /patTemplate:tmpl -->
							<td>{NILAI_NILAI}</td>						 
						
						</tr>
                       <!-- /patTemplate:tmpl -->
				  <!-- /patTemplate:sub -->
                <!-- /patTemplate:tmpl -->
               <!-- /patTemplate:sub -->
               <!-- patTemplate:sub condition="NO" -->
                  <!-- patTemplate:tmpl name="nilai_access_item_no" type="condition" conditionvar="ODDEVEN" -->
                     <!-- patTemplate:sub condition="ODD" -->   
               
                        <tr>
							<td align="center" {NILAI_STYLE_LIGHT}>
                              <!--<input type="checkbox" name="cek[krsdtId][{NILAI_URUT}]" {IS_CHECKED} value="{KRSDT_ID}"/>-->
							  {NILAI_NIF}
							  <input type="hidden" name="cek[krsdtId][{NILAI_URUT}]" {IS_CHECKED} value="{KRSDT_ID}"/>
							</td>
							<td {NILAI_STYLE_LIGHT}>{NILAI_NAMA}<!--a href="#" onclick="openWindow('{NILAI_URL_DETAIL}')">{NILAI_NAMA} </a--></td>
							<!-- patTemplate:tmpl name="nilai_dpna" -->
							<td align="center" class="{DISPLAY_HARIAN}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inHarian[]" id="inHarian[]" value="{KRSDPNSHARIANASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilHarian[]" id="nilHarian[]" value="{KRSDPNAHARIANBOBOT}" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_MANDIRI}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inMandiri[]" id="inMandiri[]" value="{KRSDPNAMANDIRIASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilMandiri[]" value="{KRSDPNAMANDIRIBOBOT}" id="nilMandiri[]" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_KELOMPOK}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inKelompok[]" id="inKelompok[]" value="{KRSDPNAKELOMPOKASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilKelompok[]" value="{KRSDPNAKELOMPOKBOBOT}" id="nilKelompok[]" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_PRESENTASI}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inPresentasi[]" id="inPresentasi[]" value="{KRSDPNAPRESENTASIASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilPresentasi[]" value="{KRSDPNAPRESENTASIBOBOT}" id="nilPresentasi[]" size="2" disabled />
							</td>

							<td align="center" class="{DISPLAY_TERSTRUKTUR}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inTerstruktur[]" id="inTerstruktur[]" value="{KRSDPNATERSTRUKTURASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilTerstruktur[]" id="nilTerstruktur[]" value="{KRSDPNATERSTRUKTURBOBOT}" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_TAMBAHAN}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inTambahan[]" id="inTambahan[]" value="{KRSDPNATAMBAHANASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilTambahan[]" id="nilTambahan[]" value="{KRSDPNATAMBAHANBOBOT}" size="2" disabled />
							</td>
							
							<td align="center" class="{DISPLAY_UTS}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inUts[]" id="inUts[]" value="{KRSDPNSUTSASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilUts[]" id="nilUts[]" value="{KRSDPNAUTSBOBOT}" size="2" disabled />
							</td>
							
							<td align="center" class="{DISPLAY_UAS}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inUas[]" id="inUas[]" value="{KRSDPNAUASASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="text" name="nilUas[]" id="nilUas[]" value="{KRSDPNAUASBOBOT}" size="2" disabled />
							</td>
							
							<td class="{DISPLAY_CPMK1}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk1[]" id="inCpmk1[]" value="{KRSDPNACPMKASAL1}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK2}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk2[]" id="inCpmk2[]" value="{KRSDPNACPMKASAL2}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK3}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk3[]" id="inCpmk3[]" value="{KRSDPNACPMKASAL3}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK4}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk4[]" id="inCpmk4[]" value="{KRSDPNACPMKASAL4}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK5}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk5[]" id="inCpmk5[]" value="{KRSDPNACPMKASAL5}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK6}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk6[]" id="inCpmk6[]" value="{KRSDPNACPMKASAL6}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							
							<td align="center" {NILAI_STYLE_LIGHT}>
								<input type="text" name="nilAbsolut[]" id="nilAbsolut[]" value="{KRSDPNSABSOLUT}" size="4" readonly style="background-color:#D3D3D3;"/>
							</td>
							
							<!-- /patTemplate:tmpl -->
							<td {NILAI_STYLE_LIGHT}>
                              <input type="hidden" name="krsdt[]" value="{NILAI_IDKRSDETIL}">
                              <input type="hidden" name="niu[]" value="{NILAI_NIF}">
                              <input type="text" size="1" value="{NILAI_MINIMAL}" {NILAI_MINIMAL_HIDDEN} readonly />
                              <select name="nilai[]" {NILAI_HIDDEN}>
                                 <!-- patTemplate:tmpl name="pilihan_nilai" -->
                                    <option value="{PNL_NILAI}" {PNL_SELECTED}>{PNL_NILAI}</option>
                                 <!-- /patTemplate:tmpl -->
                              </select>   
							</td>
                        </tr>
                     <!-- /patTemplate:sub -->
                     <!-- patTemplate:sub condition="EVEN" -->
                        <tr>
							<td align="center" {NILAI_STYLE_LIGHT}>
								<!--<input type="checkbox" name="cek[krsdtId][{NILAI_URUT}]" {IS_CHECKED} value="{KRSDT_ID}"/>-->
								{NILAI_NIF}
								<input type="hidden" name="cek[krsdtId][]" {IS_CHECKED} value="{KRSDT_ID}"/>
							</td>
							<td {NILAI_STYLE_LIGHT}>{NILAI_NAMA}<!--a href="#" onclick="openWindow('{NILAI_URL_DETAIL}')">{NILAI_NAMA} </a--></td>
							<!-- patTemplate:tmpl name="nilai_dpna" -->
							<td align="center" class="{DISPLAY_HARIAN}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inHarian[]" id="inHarian[]" value="{KRSDPNSHARIANASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilHarian[]" id="nilHarian[]" value="{KRSDPNAHARIANBOBOT}" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_MANDIRI}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inMandiri[]" id="inMandiri[]" value="{KRSDPNAMANDIRIASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilMandiri[]" id="nilMandiri[]" value="{KRSDPNAMANDIRIBOBOT}" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_KELOMPOK}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inKelompok[]" id="inKelompok[]" value="{KRSDPNAKELOMPOKASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilKelompok[]" value="{KRSDPNAKELOMPOKBOBOT}" id="nilKelompok[]" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_PRESENTASI}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inPresentasi[]" id="inPresentasi[]" value="{KRSDPNAPRESENTASIASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilPresentasi[]" value="{KRSDPNAPRESENTASIBOBOT}" id="nilPresentasi[]" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_TERSTRUKTUR}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inTerstruktur[]" id="inTerstruktur[]" value="{KRSDPNATERSTRUKTURASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilTerstruktur[]" id="nilTerstruktur[]" value="{KRSDPNATERSTRUKTURBOBOT}" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_TAMBAHAN}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inTambahan[]" id="inTambahan[]" value="{KRSDPNATAMBAHANASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilTambahan[]" id="nilTambahan[]" value="{KRSDPNATAMBAHANBOBOT}" size="2" disabled />
							</td>
							<td align="center" class="{DISPLAY_UTS}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inUts[]" id="inUts[]" value="{KRSDPNSUTSASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilUts[]" id="nilUts[]" value="{KRSDPNAUTSBOBOT}" size="3" disabled />
							</td>
							<td align="center" class="{DISPLAY_UAS}" {NILAI_STYLE_LIGHT}>
								<input disabled type="text" name="inUas[]" id="inUas[]" value="{KRSDPNAUASASAL}" size="3" readonly style="background-color:#D3D3D3;" disabled />
								<input type="hidden" name="nilUas[]" id="nilUas[]" value="{KRSDPNAUASBOBOT}" size="2" disabled />
							</td>

							<td class="{DISPLAY_CPMK1}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk1[]" id="inCpmk1[]" value="{KRSDPNACPMKASAL1}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK2}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk2[]" id="inCpmk2[]" value="{KRSDPNACPMKASAL2}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK3}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk3[]" id="inCpmk3[]" value="{KRSDPNACPMKASAL3}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK4}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk4[]" id="inCpmk4[]" value="{KRSDPNACPMKASAL4}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK5}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk5[]" id="inCpmk5[]" value="{KRSDPNACPMKASAL5}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							<td class="{DISPLAY_CPMK6}" {NILAI_STYLE_LIGHT}>
								<input type="text" name="inCpmk6[]" id="inCpmk6[]" value="{KRSDPNACPMKASAL6}" onkeyup="Javascript:jumlah();" size="3" />
							</td>
							
							<td align="center" {NILAI_STYLE_LIGHT}>
								<input type="text" name="nilAbsolut[]" id="nilAbsolut[]" value="{KRSDPNSABSOLUT}" size="4" readonly style="background-color:#D3D3D3;" />
							</td>
							
							<!-- /patTemplate:tmpl -->
                                        
                           <td {NILAI_STYLE_LIGHT}>
                              <input type="hidden" name="krsdt[]" value="{NILAI_IDKRSDETIL}">
                              <input type="hidden" name="niu[]" value="{NILAI_NIF}">
                              <input type="text" size="1" value="{NILAI_MINIMAL}" {NILAI_MINIMAL_HIDDEN} readonly />
                              <select name="nilai[]" {NILAI_HIDDEN}>
                                 <!-- patTemplate:tmpl name="pilihan_nilai" -->
                                    <option value="{PNL_NILAI}" {PNL_SELECTED}>{PNL_NILAI}</option>
                                 <!-- /patTemplate:tmpl -->
                              </select>   
                           </td>
                        </tr>
                     <!-- /patTemplate:sub -->
                  <!-- /patTemplate:tmpl -->
               <!-- /patTemplate:sub -->
            <!-- /patTemplate:tmpl -->
         </tr>
      </table>
      </div>

      
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:link name="empty_box" src="empty_box" / -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl --> <!-- end of nilai -->
   
    Total data : {TOTAL} <br>
	Halaman : {PAGE} dari {HALAMAN}<br>
	<!-- patTemplate:tmpl name="link_halaman" -->
		{NOMOR_HALAMAN}
	<!-- /patTemplate:tmpl -->
	<br><br>
	{NEXT}
	
   <div align="center">
         <!-- patTemplate:tmpl name="btn_ubah" visibility="hidden" -->
            <!--input class="input-disclaimer btn btn-info" type="submit" name="btnUbah" value="Simpan" onClick="return checkNilai();"-->
         <!-- /patTemplate:tmpl -->
         <input type="hidden" name="action" value="viewMatKulDiampuFromNilai">
         <input type="hidden" name="kodeProdi" value="{KODE_PRODI}">
         <input type="hidden" name="sia" value="{SIA}">
         <input type="hidden" name="smt" value="{SMT}">
         <input type="hidden" name="kls" value="{KLS}">
         
   </div>
   <div><p></p></br></br>
   <input class="input-disclaimer btn btn-info" type="submit" name="btnKembali" value="<< Kembali">
   <a href="{URL_PRINT}" target="_blank" rel="noopener noreferrer" class="input-disclaimer btn btn-info">Print/Cetak</a>
   <p><h6>Keterangan :<br><font color="red">*</font> Jika mahasiswa belum memiliki nilai isikan <strong>T</strong> pada kolom <strong>Relatif</strong> (tidak boleh kosong). <br> &nbsp;&nbsp;  Untuk nilai bilangan desimal menggunakan atribut "." (titik) contoh 98.5</h6></p>
   </div>
   </form> 
   <br/><br/>
<!-- /patTemplate:tmpl -->
