<!-- patTemplate:tmpl name="head_addition" -->   
   <meta http-equiv='refresh' content='2; url={REDIRECTURL}'>
<!-- /patTemplate:tmpl -->

<!-- patTemplate:tmpl name="content" -->

	<table width=100% height=85% align=center>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <tr>
         <td valign=middle>
            <table class="table table-responsive" valign=middle>
               <tr>
                  <td bgcolor=eeeeee>
                     {TEXTMSG}
                  </td>
               </tr>
            </table>
         </td>
      </tr>
   </table>

<!-- /patTemplate:tmpl -->