<!-- patTemplate:tmpl name="content" -->
<script language="javascript">
	function checkAll() {
		
	   var count = document.form_sharing.elements.length;	   
	   for (i=0; i<count; i++)
	      eval('document.form_sharing.elements[' + i + ']').checked = true;
				//alert(count);
	}
	
	function uncheckAll()
	{		
		var count = document.form_sharing.elements.length;
	   	for (i=0; i<count; i++)
	      eval('document.form_sharing.elements[' + i + ']').checked = false;
	}	
	
   function allSelected()
	{		
		
		if(window.document.form_sharing.chkAll.checked) checkAll();
		else uncheckAll();
	}
</script>
<h2>Daftar File Sharing</h2><br/>
<form name="form_sharing" class="form-common" action="{URL_ACTION}" method="post">
	<table class="table-common" width="100%">
		<tr>
			<th width="5%">No</th>
         <!-- patTemplate:tmpl name="aksi" visibility="hidden" -->
			<th width="2%"><input type="checkbox" name="chkAll" onclick="allSelected();" /></th>
			<th width="8%">Status</th>
         <!-- /patTemplate:tmpl -->
			<th width="50%">Judul</th>
			<th width="15%">Pengirim</th>
			<th width="15%">Waktu Kirim</th>
		</tr>
		<!-- patTemplate:tmpl name="daftar" -->
		<tr>
			<td>{FILE_NO}</td>
         <!-- patTemplate:tmpl name="aksi_daftar" visibility="hidden" -->
			<td>{FILE_AKSI}</td>
			<td>{FILE_STATUS}</td>
         <!-- /patTemplate:tmpl -->
			<td>
				<a href="{FILE_URL}" target="_blank">{FILE_JUDUL}</a><br/>
				{FILE_DESK}
			</td>
			<td>{FILE_SENDER}</td>
			<td>{FILE_SEND_DATE}</td>
		</tr>
		<!-- /patTemplate:tmpl -->
		<tr>
			<td colspan="{COLSPAN}">
				<input type="submit" name="add" value="Upload File" class="input-disclaimer" />
			</td>
		</tr>
       <!-- patTemplate:tmpl name="show_activation" visibility="hidden"  -->
       
		<table class="table-form" width="60%" >	
			<tr>
				<th align="left" colspan="2">
					Item Terpilih :
					<select name="isAktifkan">
						<option value="0">Reset</option>
						<option value="1" selected>Setujui</option>
						<option value="2">Tolak</option>
						<option value="del">Hapus</option>
					</select>
					<input type="submit" name="simpanAktifasi" value="Simpan"  class="input-disclaimer" />					
				</th>
			</tr>	

		</table>
	  
	  <!-- /patTemplate:tmpl -->
	</table>
	<!-- patTemplate:link name="navigation_page" src="navigation_page" / -->
</form>
<!-- /patTemplate:tmpl -->