<!-- patTemplate:tmpl name="content" -->
<h2>Daftar Document Repository</h2><br/>
<form class="form-common" action="{URL_ACTION}" method="post">
	<table class="table-common" width="100%">
		<tr>
			<th width="5%">No</th>
			<th width="60%">Judul</th>
			<th width="15%">Waktu Kirim</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="{URL}">File bahan ujian kriminologi</a></td>
			<td>Rabu, 10 Januari 2007</td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="{URL}">bahan tugas kosmetologi</a></td>
			<td>Selasa, 9 Januari 2007</td>
		</tr>
		<tr>
			<td colspan="4">
				<input type="submit" name="add" value="Upload File" class="input-disclaimer" />
			</td>
		</tr>
	</table>
	
</form>
<!-- /patTemplate:tmpl -->