<!-- patTemplate:tmpl name="content" -->
<h2>Conference</h2><br/>
<table class="table-common" width="100%">
	<tr>
		<td width="10%" nowrap="nowrap">
			01131004
		</td>
		<td width="70%">
			Gimana klo hari sabtu besok ngumpul
		</td>
		<th width="20%" rowspan="10" valign="top">
			01131010 <br/>
			01131004 <br/>
			01131020 <br/>
		</th>
	</tr>
	<tr>
		<td width="10%" nowrap="nowrap">
			01131010
		</td>
		<td width="70%">
			dimana?
		</td>
	</tr>
  	<tr>
  		<th colspan="2" valign="top">
			<div align="left">
			  <input type="text" name="send" size="40" />
			  <input type="submit" name="send" value="Send" class="input-disclaimer" />
	        </div></th>
  	</tr>
</table>
<!-- /patTemplate:tmpl -->