<!-- patTemplate:tmpl name="content" -->
<h2>Chat Online Dengan Leni Sari (01131004)</h2><br/>
<table class="table-form" width="100%">
	<tr>
		<th width="30%"><strong>01131004</strong>(10/01/2007-10:12:23)</th>
		<td width="70%">
			gimana sekarang tugas kelompoknya?		</td>
	</tr>
	<tr>
	  <th><strong>00131001</strong>(10/01/2007-10:13:05)</th>
	  <td>kapan ya enaknya ngerjainnya? </td>
  	</tr>
	<tr>
	  <th><strong>01131004</strong>(10/01/2007-10:15:10)</th>
	  <td>ya aku sih terserah aja km bisanya kapan </td>
  	</tr>
	<tr>
	  <th><strong>00131001</strong>(10/01/2007-10:20:01)</th>
	  <td>minggu depan musti dikumpulin neeh </td>
  	</tr>
  	<tr>
  		<th colspan="2" valign="top">
			<input type="text" name="send" size="50" />
			<input type="submit" name="send" value="Send" class="input-disclaimer" />
		</th>
  	</tr>
</table>
<!-- /patTemplate:tmpl -->