<!-- patTemplate:tmpl name="head_addition" -->
	<link href="{CONFIG_BASEDIR}css/a_portalAkademik_table.css" rel="stylesheet" type="text/css" />
<!-- /patTemplate:tmpl -->
<!-- patTemplate:tmpl name="content" -->
  <div id="maincontent">
   <h2> {APPLICATION_MODULE} </h2>
      <form name="tambah_forum" method="post" action="{URL_INSERT}" class="form-common">
         <table width="100%" border="0" class="table-form">
            <input type="hidden" name="matkul" value="{MATKUL}">
            <tr>
               <td width="19%">Nama Forum: </td>
               <td width="81%"><input name="namaforum" type="text" size="50"></td>
            </tr>
            
            <tr>
               <td valign="top">Deskripsi:</td>
               <td><textarea name="deskripsi" cols="30" rows="5"></textarea></td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td><input class="input-disclaimer" name="addSimpan" type="submit" id="simpan" value="Simpan"></td>
            </tr>
         </table>
      </form>
   </div>
<!-- /patTemplate:tmpl -->