<!-- patTemplate:tmpl name="content" -->
<h2>Jadwal</h2>
<br />
<!-- patTemplate:tmpl name="data_jadwal" type="condition" conditionvar="JADWAL_AVAILABLE" -->
      <!-- patTemplate:sub condition="YES" -->
      <table width="100%" class="table-list">
            <tr> 
               <th width="150">Nama</th>
               <td>{MHS_NAMA}</td>
            </tr>
            <tr> 
               <th>{LABEL_NIM}</th>
               <td>{MHS_NIM}</td>
            </tr>
            <tr> 
               <th>Program Studi</th>
               <td>{MHS_PRODI}</td>
            </tr>
            <tr> 
               <th>Semester</th>
               <td>{MHS_SEM}</td>
            </tr>
         </table>
	<table class="table-common" width="100%">
   	<tr>	
      	<th rowspan="2">No</th>   
			<th rowspan="2">program</th>
			<th colspan="4">Matakuliah</th>
 		</tr>
 		<tr>
 			<th>Kode Blok</th>
 			<th>Nama</th>
 			<th>Kelas</th>
 			<th><abbr title="Paket Semester">Sem</abbr></th>
 		</tr>
 		<!-- patTemplate:tmpl name="jadwal_item" type="condition" conditionvar="ODDEVEN" -->
               <!-- patTemplate:sub condition="ODD" -->
	 				<tr>
						<td align="center">{NUMBER}</td>
						<td><abbr title="{LABELPROGRAM}">{WKTKULNAMA}</abbr></td>
						<td>{KODE_BLOK}</td>
						<td><a href="{URL_JADWAL_DETIL}">{MKKURNAMARESMI}</a></td>
						<td align="center">{KLSNAMA}</td>
						<td align="center">{MKKURSEMESTERKURIKULUM}</td>
					</tr>
					<!-- /patTemplate:sub -->
               <!-- patTemplate:sub condition="EVEN" -->
               <tr class="table-common-even">
						<td align="center">{NUMBER}</td>
						<td><abbr title="{LABELPROGRAM}">{WKTKULNAMA}</abbr></td>
						<td>{KODE_BLOK}</td>
						<td><a href="{URL_JADWAL_DETIL}">{MKKURNAMARESMI}</a></td>
						<td align="center">{KLSNAMA}</td>
						<td align="center">{MKKURSEMESTERKURIKULUM}</td>
					</tr>
 					<!-- /patTemplate:sub -->
      <!-- /patTemplate:tmpl -->
		</table>
		<!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
         <!-- patTemplate:link name="empty_box" src="empty_box" / -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
<!-- /patTemplate:tmpl -->