<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel mahasiswa_akun search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN maMhsNiu_fieldblock}		
	<div class="container {$fielddispclass_maMhsNiu}" data-fieldname="maMhsNiu">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_maMhsNiu}">
				{$label mahasiswa_akun maMhsNiu}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_maMhsNiu}
			</div>
			<div class="col-md-4" >
				{$maMhsNiu_editcontrol}
			</div>
			<div class="col-md-4" >
				{$maMhsNiu_editcontrol1}
			</div>
		</div>
	</div>
{END maMhsNiu_fieldblock}
	{BEGIN maEmail_fieldblock}		
	<div class="container {$fielddispclass_maEmail}" data-fieldname="maEmail">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_maEmail}">
				{$label mahasiswa_akun maEmail}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_maEmail}
			</div>
			<div class="col-md-4" >
				{$maEmail_editcontrol}
			</div>
			<div class="col-md-4" >
				{$maEmail_editcontrol1}
			</div>
		</div>
	</div>
{END maEmail_fieldblock}
	{BEGIN maEmailPswd_fieldblock}		
	<div class="container {$fielddispclass_maEmailPswd}" data-fieldname="maEmailPswd">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_maEmailPswd}">
				{$label mahasiswa_akun maEmailPswd}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_maEmailPswd}
			</div>
			<div class="col-md-4" >
				{$maEmailPswd_editcontrol}
			</div>
			<div class="col-md-4" >
				{$maEmailPswd_editcontrol1}
			</div>
		</div>
	</div>
{END maEmailPswd_fieldblock}
	{BEGIN maEmailAktif_fieldblock}		
	<div class="container {$fielddispclass_maEmailAktif}" data-fieldname="maEmailAktif">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_maEmailAktif}">
				{$label mahasiswa_akun maEmailAktif}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_maEmailAktif}
			</div>
			<div class="col-md-4" >
				{$maEmailAktif_editcontrol}
			</div>
			<div class="col-md-4" >
				{$maEmailAktif_editcontrol1}
			</div>
		</div>
	</div>
{END maEmailAktif_fieldblock}
	{BEGIN maElearning_fieldblock}		
	<div class="container {$fielddispclass_maElearning}" data-fieldname="maElearning">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_maElearning}">
				{$label mahasiswa_akun maElearning}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_maElearning}
			</div>
			<div class="col-md-4" >
				{$maElearning_editcontrol}
			</div>
			<div class="col-md-4" >
				{$maElearning_editcontrol1}
			</div>
		</div>
	</div>
{END maElearning_fieldblock}
	{BEGIN maElearningPswd_fieldblock}		
	<div class="container {$fielddispclass_maElearningPswd}" data-fieldname="maElearningPswd">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_maElearningPswd}">
				{$label mahasiswa_akun maElearningPswd}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_maElearningPswd}
			</div>
			<div class="col-md-4" >
				{$maElearningPswd_editcontrol}
			</div>
			<div class="col-md-4" >
				{$maElearningPswd_editcontrol1}
			</div>
		</div>
	</div>
{END maElearningPswd_fieldblock}
	{BEGIN maElearningAktif_fieldblock}		
	<div class="container {$fielddispclass_maElearningAktif}" data-fieldname="maElearningAktif">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_maElearningAktif}">
				{$label mahasiswa_akun maElearningAktif}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_maElearningAktif}
			</div>
			<div class="col-md-4" >
				{$maElearningAktif_editcontrol}
			</div>
			<div class="col-md-4" >
				{$maElearningAktif_editcontrol1}
			</div>
		</div>
	</div>
{END maElearningAktif_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
