<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="maMhsNiu">
	{$maMhsNiu_editcontrol}
	</control>
	<control field="maEmail">
	{$maEmail_editcontrol}
	</control>
	<control field="maEmailPswd">
	{$maEmailPswd_editcontrol}
	</control>
	<control field="maEmailAktif">
	{$maEmailAktif_editcontrol}
	</control>
	<control field="maElearning">
	{$maElearning_editcontrol}
	</control>
	<control field="maElearningPswd">
	{$maElearningPswd_editcontrol}
	</control>
	<control field="maElearningAktif">
	{$maElearningAktif_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>