<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel s_krs_jatah_sks view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN krssksMhsNiu_fieldblock}
	<div class="{$fielddispclass_krssksMhsNiu} col-md-6 bs-viewcontrolgroup" data-fieldname="krssksMhsNiu">
		<label class="control-label" for="{$labelfor_krssksMhsNiu}">
			{$label s_krs_jatah_sks krssksMhsNiu}
		</label>
		<div class="" >
			{$krssksMhsNiu_value}&nbsp;
		</div>
	</div>
{END krssksMhsNiu_fieldblock}
					{BEGIN krssksSempId_fieldblock}
	<div class="{$fielddispclass_krssksSempId} col-md-6 bs-viewcontrolgroup" data-fieldname="krssksSempId">
		<label class="control-label" for="{$labelfor_krssksSempId}">
			{$label s_krs_jatah_sks krssksSempId}
		</label>
		<div class="" >
			{$krssksSempId_value}&nbsp;
		</div>
	</div>
{END krssksSempId_fieldblock}
					{BEGIN krssksJatahSksResmi_fieldblock}
	<div class="{$fielddispclass_krssksJatahSksResmi} col-md-6 bs-viewcontrolgroup" data-fieldname="krssksJatahSksResmi">
		<label class="control-label" for="{$labelfor_krssksJatahSksResmi}">
			{$label s_krs_jatah_sks krssksJatahSksResmi}
		</label>
		<div class="" >
			{$krssksJatahSksResmi_value}&nbsp;
		</div>
	</div>
{END krssksJatahSksResmi_fieldblock}
					{BEGIN krssksJatahSksToleransi_fieldblock}
	<div class="{$fielddispclass_krssksJatahSksToleransi} col-md-6 bs-viewcontrolgroup" data-fieldname="krssksJatahSksToleransi">
		<label class="control-label" for="{$labelfor_krssksJatahSksToleransi}">
			{$label s_krs_jatah_sks krssksJatahSksToleransi}
		</label>
		<div class="" >
			{$krssksJatahSksToleransi_value}&nbsp;
		</div>
	</div>
{END krssksJatahSksToleransi_fieldblock}
					{BEGIN krssksJatahDipakai_fieldblock}
	<div class="{$fielddispclass_krssksJatahDipakai} col-md-6 bs-viewcontrolgroup" data-fieldname="krssksJatahDipakai">
		<label class="control-label" for="{$labelfor_krssksJatahDipakai}">
			{$label s_krs_jatah_sks krssksJatahDipakai}
		</label>
		<div class="" >
			{$krssksJatahDipakai_value}&nbsp;
		</div>
	</div>
{END krssksJatahDipakai_fieldblock}
					{BEGIN krssksIpSemesterSebelumnya_fieldblock}
	<div class="{$fielddispclass_krssksIpSemesterSebelumnya} col-md-6 bs-viewcontrolgroup" data-fieldname="krssksIpSemesterSebelumnya">
		<label class="control-label" for="{$labelfor_krssksIpSemesterSebelumnya}">
			{$label s_krs_jatah_sks krssksIpSemesterSebelumnya}
		</label>
		<div class="" >
			{$krssksIpSemesterSebelumnya_value}&nbsp;
		</div>
	</div>
{END krssksIpSemesterSebelumnya_fieldblock}
					{BEGIN krssksIsRegistrasi_fieldblock}
	<div class="{$fielddispclass_krssksIsRegistrasi} col-md-6 bs-viewcontrolgroup" data-fieldname="krssksIsRegistrasi">
		<label class="control-label" for="{$labelfor_krssksIsRegistrasi}">
			{$label s_krs_jatah_sks krssksIsRegistrasi}
		</label>
		<div class="" >
			{$krssksIsRegistrasi_value}&nbsp;
		</div>
	</div>
{END krssksIsRegistrasi_fieldblock}
					{BEGIN mhsNama_fieldblock}
	<div class="{$fielddispclass_mhsNama} col-md-6 bs-viewcontrolgroup" data-fieldname="mhsNama">
		<label class="control-label" for="{$labelfor_mhsNama}">
			{$label s_krs_jatah_sks mhsNama}
		</label>
		<div class="" >
			{$mhsNama_value}&nbsp;
		</div>
	</div>
{END mhsNama_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
