/* CSS Document */
/* created by PT. Gamatechno Indonesia 2006/01 */

.page-forum {
	/*
	color: #003366;
	border: #D5D9E5 solid 1px;
	padding: 1px 2px;
	margin: 0px 0px 0px 0px;
	display: inline;	
	font-weight: normal;*/
	font-size: 11px;
}

.page-forum a {
	color: #003366;
	border: #D5D9E5 solid 1px;
	display: inline;	
	font-weight: normal;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 1px 4px;
	font-size: 11px;
}

.page-forum a:hover {
	background-color: #FF9900;
}

.table-forum {
	color: #003366;
	border-bottom: 1px solid #B5C3D2;
	border-collapse: collapse;
	margin: 15px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}

.table-forum tr {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.table-forum th {
	color: #0C419A;
	background-color: #E3EFF9;
	background-image: url('../images/content-half-h2.gif');
	background-repeat: repeat-x;
	background-position: top;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.table-forum td {
	background-color: #F9FCFE;
	border-bottom: 1px solid #B5C3D2;
	border-collapse: collapse;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
	padding: 8px 7px;
}

.table-forum a {
	color: #003366;
	text-decoration: none;
}

.table-forum a:hover {
	color: #0054A7;
	text-decoration: underline;
}

.table-forum img {
	vertical-align: middle;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
}

.table-forum p {
	text-align: left;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.table-forum strong {
	font-weight: bold;
}

.th-center {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}

.form-topik-input {
	text-align: center;
	width: 110px;
	background-color: transparent !important;
	margin: 10px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

.form-topik-input input {
	color: #003366;
	background-color: #FFFFFF;
	border: #D5D9E5 1px solid;
	padding: 2px 3px; /*4px 7px;*/
	margin: 0px 0px 0px 2px;
}

.form-common-input {
	text-align: center;
	width: 110px;
	background-color: transparent !important;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

.form-common-input input {
	color: #003366;
	background-color: #FFFFFF;
	border: #D5D9E5 1px solid;
	padding: 2px 3px; /*4px 7px;*/
	margin: 0px 0px 0px 2px;
}

.table-common-forum {
	clear: both;
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D9E5;
	border-collapse: collapse;
	border-top: #ddd solid 1px;
	border-left: #ddd solid 1px;
	margin: 10px 0px;
}

.table-common-forum th {
	color: #0C419A;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 5px 10px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D9E5;
	border-collapse: collapse; 
	background-image: url('../images/table-common-header.gif');
	background-repeat: repeat-x;
}

.table-common-forum td {
	padding: 7px 5px 7px 10px;
	text-align:left;
	color: #333333;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #D5D9E5;
	border-collapse: collapse;
}

.table-common-forum a {
	color: #273A85;
	text-decoration: none;
}

.table-common-forum b {
	color: #273A85;
	text-decoration: none;
} 

.table-common-forum img {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
} 

.table-common-forum strong {
	text-align: left;
	color: #FF6600;
	font-weight: normal;
	text-decoration: none;
}

.table-common-forum ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
}

.table-common-forum li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.th-special-left {
	float: left;
	width: 11px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.th-special-right {
	float: right;
	width: 16px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* Tabel from SIA */
/* ------------------------------------------------------------------------------ */
.table-common {
	clear: both;
	text-align: left;
	padding: 1rem;
	margin: 10px 0px 10px 1px;
	width: 99%;
	border:solid 1px #999999;
}

.table-common th {
/*	color: #1C4675;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 0.2em 0.5em;
	border: 1px solid #C9D5E1;
	border-collapse: collapse;
	border-top: none;
	background-color: #E3EFF9;
	background-image: url('../images/content-half-h2.gif');
	background-repeat: repeat-x;
	background-position: top;
*/
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #C9D5E1;
	background-color: #ccc;
	font-size: 0.9rem;
	border:solid 1px #999999;
}

.table-common td {
	border:solid 1px #999999;
	font-size: 0.9rem;	
}

.table-common a {
	color: #0C419A; /*#A0410D;*/
	text-decoration: none;
}

.table-common .nama {
	width: 150px;
	font-weight: bold;
}

.table-common .judul {
	width: 200px;
}

.table-common-alert td {
	background-color: #aa2222;
	color: #ffffff;
}

.table-common-alert a {
	color: #fdc689;
}

.table-common-even {
}

.table-common-even td{
	background-color: #F1F7FC  !important;/*#FCFBF3*/
}


.table-common-alert a:hover {
	color: #A0410D;
}

.table-common-links {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.table-common-links a {
	clear: inherit;
	float: left;
	border: #CDDCC8 1px solid;
	cursor: pointer;
	margin: 0px 1px 0px 1px;
	padding: 3px 5px;
	color: #0C419A;
}

.table-common-links a:hover {
	text-decoration: none;
	background-color: #FFF9D6;
	background-image: url('../images/button_bg.gif');
	background-repeat: repeat-x;

}

.table-common-links a:active {
	text-decoration: none;
	padding: 4px 3px 1px 6px;/*4px 5px 2px 7px;*/
	border: #ece9d6 1px solid;
	border-bottom: #fffef5 2px solid;
	border-right: #fffef5 2px solid;

}

.table-common-links img
{
	border: none;
}

.table-userbio {
	color: #003366;
	padding: 8px 10px;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #CCCCCC;
	border-collapse: collapse;
}

.table-userbio th {
	width: 30%;
	font-weight: bold;
	/*	text-transform: uppercase;*/
	text-align: left;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #CCCCCC;
	border-collapse: collapse;
}

.table-userbio td {
	text-align: left;
	color: #333333;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #CCCCCC;
	border-collapse: collapse;
}

.table-form {
	clear: both;
	background-color: #F9FCFE;
	padding: 10px 0px 10px 0px;
	border: 1px solid #D8EAF9;
	border-collapse: collapse;
	border-top: #D8EAF9 solid 1px;
	border-left: #D8EAF9 solid 1px;
	text-align: left;
	margin: 10px 0px;
}

.table-form ul {
	padding: 0px;
	margin: 0px 0px 0px 20px;
	list-style-type: square;
}

.table-form tr {
}

.table-form-name {
	color: #003366;
	width: 90px;
	text-align: right;
	font-weight: normal;
	vertical-align: top;
	padding: 8px 0px 6px 0px;
	border-bottom: #ddd 1px solid;
}

.table-form th {
	color: #003366;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	padding: 10px 0px 8px 10px;
	border-bottom: #ddd 1px solid;
}

.table-form-input {
	color: #000000;
	padding: 4px 15px 6px 0px;
	border-bottom: #ddd 1px solid;
}

.table-form td {
	color: #000000;
	padding: 4px 15px 6px 5px;
	border-bottom: #ddd 1px solid;
	/*border-left: #ddd 1px solid;*/
}

.table-form cite {
	color: #666666;
	font-style: normal;
}

.table-list {
	clear: both;
	padding: 10px 10px 10px 10px;
	border-collapse: collapse;
	border-top: #bbb 1px solid;
	border-bottom: #bbb 1px solid;
	text-align: left;
	margin: 10px 0px;
	width: 100%;
	background-color: #F2F8FD;
}

.table-list p {
	text-align: justify;
}

.table-list img {
	float: left;
	margin: 0px 10px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.table-list ul {
	padding: 0px;
	margin: 0px 0px 0px 20px;
	list-style-type: square;
}

.table-list tr {
	border-top: #ffffff 1px solid;
	border-bottom: #555555 1px solid;
	border-collapse: collapse;
}

.table-list-name {
	color: #003366;
	width: 90px;
	text-align: right;
	font-weight: normal;
	vertical-align: top;
	padding: 8px 10px 6px 10px;
	border-bottom: #ddd 1px solid;
}

.table-list th {
	color: #003366;
	background-color: #F7FAFC;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	padding: 8px 20px 6px 15px;
	border-bottom: #D8EAF9 1px solid;
	background-image: url('../images/table-list-bg.gif');
	background-repeat: no-repeat;
	background-position: top left;
}

.table-list td {
	color: #000000;
	background-color: #F7FAFC;
	padding: 8px 15px 6px 5px;
	border-bottom: #D8EAF9 1px solid;

}

.table-list-input {
	color: #000000;
	padding: 4px 15px 6px 0px;
	border-bottom: #ddd 1px solid;
}

.table-list cite {
	color: #666666;
	font-style: normal;
}
/* ------------------------------------------------------------------------------ */
/* end Tabel from SIA */




