/* CSS Document */
/* created by PT. Gamatechno Indonesia 2006/01 */

#content {	
	overflow: hidden;
	margin: 0px 0px 0px 3px;
	padding: 0px 10px 0px 0px;
}

#content h2 {
	color: #0C419A;
	margin-top: 1.5rem;
}

#content h3 {
	color: #0C419A;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

#content h4 {
	color: #0C419A;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

#content h5 {
	color: #0C419A;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content h6 {
	color: #0C419A;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content p {
/*	font-size: 10pt;*/
font-size: 1em;
	color: #333;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

#content b {	
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content-list {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content-list img {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}

#content-list ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content-list li {
	border-bottom: 1px solid #333333;
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#warning {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

#warning h3 {
	color: #FF0000;
	font-weight: bold
}

#warning img {
	
}

#warning p {
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#warning table {
	border: none !important;
	border-collapse: collapse;
	text-align: center;
	margin: 0px auto 0px auto !important;
	padding: 0px 0px 0px 0px;
}

#warning tr {
	border: none !important;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#warning th {
	border: none !important;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#warning td {
	border: none !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 5px 0px 5px !important;
}

#content-disclaimer {
	margin: 0px 0px 0px 0px;
}

#content-disclaimer h4 {
	color: #0C419A;
	font-size: 15px;
	margin: 30px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content-disclaimer strong {
	
	color: #0C419A;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content-disclaimer p {
	color: #292929;
	text-align: justify;
	margin: 10px 0px 10px 0px;
	padding: 0px 15px 0px 15px;
}

#content-disclaimer ol {
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
}

#content-disclaimer li {
	color: #292929;
	list-style: decimal;
	list-style-position: inside;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
}

.form-disclaimer {
	text-align: center;
	margin: 30px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.input-disclaimer {
	color: #1B416F; /*#124184;*/
	background-color: #DDDDDD;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px #124184 solid;
	font-weight: normal;
	margin: 0px 5px 0px 0px;
	padding: 2px 2px;
}


