<!-- patTemplate:tmpl name="head_addition" -->
	<link href="{CONFIG_BASEDIR}css/a_portalAkademik_table.css" rel="stylesheet" type="text/css" />
<!-- /patTemplate:tmpl -->
<!-- patTemplate:tmpl name="content" -->


<script language="JavaScript" src="{SCRIPT_SRC}">
	function validate()
	{
		alert('asla;lsa');
		return false;
		kelas = window.document.form_add_tugas.klsId;
		if(kelas.value == "")
		{
			alert("Kelas harap diisi");
			kelas.focus();
			return false;
		}
		jenis = window.document.form_add_tugas.jenisTugas;
		if(jenis.value == "")
		{
			alert("Jenis Tugas harap diisi");
			jenis.focus();
			return false;
		}
		checkDate('tglAwal','blnAwal','thnAwal');
		checkDate('tglAkhir','blnAkhir','thnAkhir');
		return true;
	}
</script>

<h2> {APPLICATION_MODULE} </h2><br/>
<div id="maincontent">
  <form name="form_add_tugas" class="form-common" method="post" action="{FORM_ACTION}" enctype="multipart/form-data">
  		<input type="hidden" name="hdnSmt" value="{SEMESTER}" />
  		<table class="table-userbio" width = "100%">
  		<!-- patTemplate:tmpl name="display_error" visibility="hidden" -->
  		  <tr>
  		  	<th colspan="2"><font color="Maroon" size="2">Gagal Menambahkan Data Tugas Baru. {ERROR} </font></th>
  		  </tr>
  		<!-- /patTemplate:tmpl -->
  		  <tr>
  		  	  <th height="100%">Semester</th>
  		  	  <th>{NAMA_SEMESTER}</th>
  		  </tr>
          <tr>
              <th width="30%">Kelas</th>
              <td width="70%">
                  <select name="klsId" id="klsId" >
                      <!-- patTemplate:tmpl name="list_kelas" -->
                          <option value="{KLS_ID}" {SELECT_{KLS_ID}}>{KLS_KODE} - {KLS_NAMA}</option>
                      <!-- /patTemplate:tmpl -->
                  </select>
              </td>
          </tr>
          <tr>
              <th>Judul</th>
              <td><input type="textbox" name="judul" size="50" value="{TUGAS_JUDUL}" /></td>
          </tr>
          <tr>
              <th valign="top">File</th>
              <td>
              <input type="file" name="fileUpload" size="40" value="{TUGAS_NEW_FILE}" /><br>
              (Ukuran File Maksimal 2MB)
              </td>
          </tr>
          <tr>
              <th valign="top">Abstraksi</th>
              <td><textarea name="abstraksi"  cols="30" rows="5" >{TUGAS_ABSTRAKSI}</textarea> 
               <br>	
                [i] <i>miring </i>[/i] [b] <b>tebal </b> [/b]<br>
               Max. 255 karakter
               </td>
          </tr>   
          <tr>
          	  <th>Waktu Mulai</th>
          	  <td>
                  <select name="tglAwal">
                     <option value=""></option>
                      <!-- patTemplate:tmpl name="tglAwal" -->
                      <option value="{TGL}"{SELECTED}>{TGL}</option>
                      <!-- /patTemplate:tmpl -->
                  </select> 
                  <select name="blnAwal">   
                     <option value=""></option>
                     <!-- patTemplate:tmpl name="blnAwal" -->
                      <option value="{BLN}"{SELECTED}>{BLN}</option>
                      <!-- /patTemplate:tmpl -->
                  </select>
                  <select name="thnAwal">
                     <option value=""></option>
                     <!-- patTemplate:tmpl name="thnAwal" -->
                      <option value="{THN}"{SELECTED}>{THN}</option>
                      <!-- /patTemplate:tmpl -->
                  </select>
                  &nbsp;&nbsp;
                  <select name="jamAwal">
                     <!-- patTemplate:tmpl name="jamAwal" -->
                     <option value="{JAM}"{SELECTED}>{JAM}</option>
                     <!-- /patTemplate:tmpl -->
                  </select>
                  :
                  <select name="menitAwal">
                     <!-- patTemplate:tmpl name="menitAwal" -->
                     <option value="{MENIT}"{SELECTED}>{MENIT}</option>
                     <!-- /patTemplate:tmpl -->
                  </select>
          	  </td>
          </tr>   
          
          <tr>
          	  <th>Waktu Selesai</th>
          	  <td>
                  <select name="tglAkhir">
                     <option value=""></option>
                      <!-- patTemplate:tmpl name="tglAkhir" -->
                      <option value="{TGL}"{SELECTED}>{TGL}</option>
                      <!-- /patTemplate:tmpl -->
                  </select> 
                  <select name="blnAkhir">   
                     <option value=""></option>
                     <!-- patTemplate:tmpl name="blnAkhir" -->
                      <option value="{BLN}"{SELECTED}>{BLN}</option>
                      <!-- /patTemplate:tmpl -->
                  </select>
                  <select name="thnAkhir">
                     <option value=""></option>
                     <!-- patTemplate:tmpl name="thnAkhir" -->
                      <option value="{THN}"{SELECTED}>{THN}</option>
                      <!-- /patTemplate:tmpl -->
                  </select>
                  &nbsp;&nbsp;
                  <select name="jamAkhir">
                     <!-- patTemplate:tmpl name="jamAkhir" -->
                     <option value="{JAM}"{SELECTED}>{JAM}</option>
                     <!-- /patTemplate:tmpl -->
                  </select>
                  :
                  <select name="menitAkhir">
                     <!-- patTemplate:tmpl name="menitAkhir" -->
                     <option value="{MENIT}"{SELECTED}>{MENIT}</option>
                     <!-- /patTemplate:tmpl -->
                  </select>
          	  </td>
          </tr>   
          <tr> 	
          	<th colspan="2">&nbsp;</th>          
		  </tr>
          <tr>
          	  <td colspan="2" align="right">
          	  	<div align="right">
          	  		<input type="submit" name="addSimpan" value="Simpan" class="input-disclaimer" />
          	  		<input type="submit" name="addReset" value="Reset" class="input-disclaimer" />
          	  		<input type="submit" name="batal" value="Batal" class="input-disclaimer" />
          	  	</div>
          	  </td>
          </tr>    
      </table>
 
  </form>  
 </div>

<!-- /patTemplate:tmpl -->
