<!-- patTemplate:tmpl name="content" -->
   <h2>Perpustakaan</h2><br />
   <h5>Keterangan :</h5>
   <p>Perpustakan dapat digunakan untuk mengakses perpustakaan secara on-line. Perpustakan yang dapat diakses hanyalah perpustakaan yang menyediakan fasilitas akses on-line. Untuk mengakses perpustakaan yang diinginkan, anda dapat memilihnya pada daftar perpustakaan. Untuk menggunakan fasilitas yang terdapat pada perpustakaan tersebut, hal yang paling penting adalah terkoneksi dengan perpustakaan yang bersangkutan. Untuk mengetahui koneksi dengan perpustakan yang dimaksud, anda dapat melihat status koneksi melalui Status Service Perpustakan yang berada di pojok kanan bawah. Jika terkoneksi, tanda panah Perpustakan akan berubah menjadi warna hijau.
   </p><br />
   
   <!-- patTemplate:tmpl name="error_utama" visibility="hidden" -->
      <!-- patTemplate:link name="error_box" src="error_box" / -->
   <!-- /patTemplate:tmpl -->
   
   <!-- patTemplate:tmpl name="unit" visibility="hidden" -->
      <form class="form-common" method="POST" action="{URL_VIEW}" name="frmService">
         <table class="table-form" width="100%">
            <tr>
               <th width="200">Perpustakaan</th>
               <td width="100">
                  <select name='perpus'>
                     <!-- patTemplate:tmpl name="unit_list" -->
                        <option value="{UNIT_SERVICE_ADDRESS}" {UNIT_SELECTED}> {UNIT_NAMA} </option>
                     <!-- /patTemplate:tmpl -->
                  </select>
               </td>
               <td><input name="act" type="hidden" value="{ACT}" /><input class="input-disclaimer" name="btnLihat" type="submit" value="Lihat" /></td>
            </tr>
         </table>
      </form>
      <br />
   <!-- /patTemplate:tmpl -->
   
   <!-- patTemplate:tmpl name="data_perpustakaan" visibility="hidden" -->
      <table class="table-list">
         <tr> 
            <th width="150">Nama Perpustakaan</th>
            <td>{PERPUS_NAMA}</td>
         </tr>
         <tr> 
            <th>Status Keanggotaan</th>
            <td>{PERPUS_STATUS_ANGGOTA}</td>
         </tr>
         <tr> 
            <th>Status Bebas Pinjam</th>
            <td>{PERPUS_STATUS_BEBASPINJAM}</td>
         </tr>
      </table><br/>
      
      <!-- patTemplate:tmpl name="view_buku_dipinjam" visibility="hidden" -->
         <h4>Buku yang Dipinjam</h4>
         <!-- patTemplate:tmpl name="buku_dipinjam" type="condition" conditionvar="BUKU_DIPINJAM_ISEMPTY" -->
            <!-- patTemplate:sub condition="NO" -->
               <table class="table-common" width="100%">
                  <tr>
                     <th>Judul</th>
                     <th>Pengarang</th>
                     <th>Penerbit</th>
                     <th>Tanggal Pinjam</th>
                     <th>Tanggal Harus Kembali</th>
                  </tr>
                  <!-- patTemplate:tmpl name="buku_dipinjam_item" -->
                     <tr>
                        <th>{BUKU_JUDUL}</th>
                        <th>{BUKU_PENGARANG}</th>
                        <th>{BUKU_PENERBIT}</th>
                        <th>{BUKU_TANGGAL_PINJAM}</th>
                        <th>{BUKU_TANGGAL_HARUS_KEMBALI}</th>
                     </tr>
                  <!-- /patTemplate:tmpl -->
               </table>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="YES" -->
               <!-- patTemplate:link name="empty_box" src="empty_box" / -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
         <hr />
         Untuk melihat history peminjaman anda, <a href="{URL_HISTORY}">klik di sini</a>.<br>
         Untuk melihat data-data buku dan melakukan indent/pemesanan buku silahkan <a href="{URL_PESAN_BUKU}">klik di sini</a>.
      <!-- /patTemplate:tmpl -->

      <!-- patTemplate:tmpl name="view_history" visibility="hidden" -->
         <h4>History Buku yang Dipinjam</h4>
         <!-- patTemplate:tmpl name="history" type="condition" conditionvar="HISTORY_ISEMPTY" -->
            <!-- patTemplate:sub condition="NO" -->
               <table class="table-common" width="100%">
                  <tr>
                     <th>Judul</th>
                     <th>Pengarang</th>
                     <th>Penerbit</th>
                     <th>Tanggal Pinjam</th>
                  </tr>
                  <!-- patTemplate:tmpl name="history_item" -->
                     <tr>
                        <th><a href='{BUKU_URL_DETIL}'>{BUKU_JUDUL}</a></th>
                        <th>{BUKU_PENGARANG}</th>
                        <th>{BUKU_PENERBIT}</th>
                        <th>{BUKU_TANGGAL_PINJAM}</th>
                     </tr>
                  <!-- /patTemplate:tmpl -->
               </table>
               
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="YES" -->
               <!-- patTemplate:link name="empty_box" src="empty_box" / -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
         <hr />
         Kembali ke halaman utama perpustakaan, <a href="{URL_VIEW}">klik disini</a>.<br>
      <!-- /patTemplate:tmpl -->
      
      <!-- patTemplate:tmpl name="view_katalog_buku" visibility="hidden" -->
      
         <h4>Katalog Buku</h4>
         <form class="form-common" method="POST" action="{URL_PROCESS}" name="frmPerpus">
            <table class="table-form" width="100%">
               <tr>
                  <th colspan="3"><b>Cari Buku</b></th>
               </tr>
               <tr>
                  <th width="200">Kata Kunci<br/> (Judul atau Pengarang)</th>
                  <td width="100"><input name="cari" type="text" maxlength="255" size="20" value="{KEY_SEARCH}" /></td>
                  <td><input class="input-disclaimer" name="btnCari" type="submit" value="Cari" />
                           <input name="act" type="hidden" value="carikatalog" />
                           <input name="perpusserv" type="hidden" value="{SERV_ADDRESS}" />
                  </td>
               </tr>
            </table>
         </form>
         <!-- patTemplate:link name="error_box_middle" src="error_box" / -->
         <!-- patTemplate:tmpl name="katalog_buku" type="condition" conditionvar="KATALOG_ISEMPTY" -->
            <!-- patTemplate:sub condition="NO" -->
               <table class="table-common" width="100%">
                  <tr>
                     <th>No</th>
                     <th>Judul</th>
                     <th>Pengarang</th>
                     <th>Nomor Klasifikasi</th>
                     <!--th>Subjek</th-->
                     <th>Golongan</th>
                     <th>Aksi</th>
                  </tr>
                  <!-- patTemplate:tmpl name="katalog_item" type="condition" conditionvar="ODDEVEN" -->
                     <!-- patTemplate:sub condition="ODD" -->
                        <tr>
                           <td>{BUKU_NUMBER}</td>
                           <td><a href='{BUKU_URL_DETIL}'>{BUKU_JUDUL}</a></td>
                           <td>{BUKU_PENGARANG} / {BUKU_PENGARANG_TAMBAHAN}</td>
                           <td>{BUKU_NOMOR_KLASIFIKASI}</td>
                           <!--td>{BUKU_SUBYEK}</td-->
                           <td>{BUKU_GOLONGAN}</td>
                           <td><a href='{BUKU_URL_PESAN}'><img alt="pesan buku" src="{CONFIG_BASEADDRESS}/images/button-buku.gif" ></a></td>
                        </tr>
                     <!-- /patTemplate:sub -->
                     <!-- patTemplate:sub condition="EVEN" -->
                        <tr class="table-common-even">
                           <td>{BUKU_NUMBER}</td>
                           <td><a href='{BUKU_URL_DETIL}'>{BUKU_JUDUL}</a></td>
                           <td>{BUKU_PENGARANG} / {BUKU_PENGARANG_TAMBAHAN}</td>
                           <td>{BUKU_NOMOR_KLASIFIKASI}</td>
                           <!--td>{BUKU_SUBYEK}</td-->
                           <td>{BUKU_GOLONGAN}</td>
                           <td><a href='{BUKU_URL_PESAN}'><img alt="pesan buku" src="{CONFIG_BASEADDRESS}/images/button-buku.gif" ></a></td>
                        </tr>
                     <!-- /patTemplate:sub -->
                  <!-- /patTemplate:tmpl -->
               </table>
               <div class='pageBar'>
                  <div class='pageNav'>
                     <a href='{URL_PREV}'>&lt;</a>
                     <a href='{URL_NEXT}'>&gt;</a>
                  </div>
               </div>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="YES" -->
               <!-- patTemplate:link name="empty_box" src="empty_box" / -->
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
         <hr />
         <a href="{URL_VIEW}">Kembali ke halaman utama perpustakaan</a>.<br>
      <!-- /patTemplate:tmpl -->
      
   <!-- /patTemplate:tmpl -->
<!-- /patTemplate:tmpl --> <!-- end of content -->