<!-- patTemplate:tmpl name="content" -->
   <h3>Ubah Password</h3>
   <div id="content-disclaimer">
      <p>Untuk keamanan, Anda diwajibkan untuk memasukkan password baru untuk menggantikan 
      password default Anda. Password default bisa Anda dapatkan dari selebaran 
      yang dibagikan oleh BAA. Silakan masukkan password 
      baru Anda:</p>
      <br />
      <p><strong>{ERR_MSG}</strong></p>
      <form class="form-disclaimer" name="confirm_password" id="confirm_password" method="post" action="{URL_NEXT}">
         <table width="393" cellpadding="3" cellspacing="3"  style="margin:15px;">
            <tr>
               <td align="left"><strong>Password lama</strong></td>
               <td >: <input  name="oldPasswd" type="password" /></td>
            </tr>
            <tr>
               <td align="left"><strong>Password baru</strong></td>
               <td>: <input  name="passwd1" id="passwd1" type="password" /></td>
            </tr>
            <tr>
               <td align="left"><strong>Tulis Ulang Password baru</strong></td>
               <td>: <input name="passwd2" id="passwd2" type="password" /></td>
            </tr>
            <tr>
               <td></td>
               <td><input class="input-disclaimer" type="submit" name="Simpan" id="Simpan" value="Simpan" /></td>
            </tr>
         </table>
         <input type="hidden" name="doact" value="agreement">
         <input type="hidden" name="step" value="chgpasswd">
      </form>
   </div> 
<!-- /patTemplate:tmpl -->
