<!-- patTemplate:tmpl name="content" -->
   <h2>{APPLICATION_MODULE}</h2>
   <br>
   <h5>Keterangan :</h5>
   <p>Ubah Password dapat digunakan untuk merubah password lama menjadi password baru. Jika anda lupa password anda, silahkan menghubungi bagian akademik untuk mendapatkan password baru.
   </p> <br />
   <!-- patTemplate:link name="error_box" src="error_box" / -->
   
   <form class="form-common" method="POST" action="{URL_PROCESS}">
      <table class="table-form" width="100%">
         <tr>
            <th colspan="2"><b>Form Ubah Password</b></th>
         </tr>
         <tr>
            <th>Password lama</th>
            <td><input  name="oldPasswd" type="password" /></td>
         </tr>
         <tr>
            <th>Password baru</th>
            <td><input  name="passwd1" id="passwd1" type="password" /></td>
         </tr>
         <tr>
            <th>Tulis Ulang Password baru</th>
            <td><input name="passwd2" id="passwd2" type="password" /></td>
         </tr>
         <tr>
            <td></td>
            <td><input class="input-disclaimer" type="submit" name="Simpan" id="Simpan" value="Simpan" /></td>
         </tr>
      </table>
      <input type="hidden" name="doact" value="password">
   </form>
<!-- /patTemplate:tmpl -->
