<!-- patTemplate:tmpl name="content" -->
   <h3><i>Disclaimer</i></h3><br>
      <p>
         Aplikasi Portal Akademik ini berfungsi sebagai alat bantu penyedia/penyaji informasi berupa interface publik yang menjembatani publik dengan aplikasi Sistem Informasi Akademik di seluruh program studi. Semua informasi akademik di portal akademik diperoleh secara langsung dari fakultas, melalui infrastruktur jaringan intranet kampus. Data yang terlihat di Portal Akademik sama dengan yang ada di fakultas, oleh karena itu data di Portal Akademik sangat bergantung pada validitas data di fakultas. Secara formal, data yang valid adalah data yang telah diotorisasi oleh dekan fakultas maupun BAA {UNIV_NAME}. 
      </p>      
<!-- /patTemplate:tmpl -->
