<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel mahasiswa masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=mhsNiu]:before {
		content: "{$label mahasiswa mhsNiu}";
	}
	.bs-gridcell[data-field=mhsNama]:before {
		content: "{$label mahasiswa mhsNama}";
	}
	.bs-gridcell[data-field=prodiNamaResmi]:before {
		content: "{$label mahasiswa prodiNamaResmi}";
	}
	.bs-gridcell[data-field=mhsStatusMasukPt]:before {
		content: "{$label mahasiswa mhsStatusMasukPt}";
	}
	.bs-gridcell[data-field=mhsStakmhsrKode]:before {
		content: "{$label mahasiswa mhsStakmhsrKode}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$mhsNiu_class}">{$label mahasiswa mhsNiu}</th>
			<th class="{$mhsNama_class}">{$label mahasiswa mhsNama}</th>
			<th class="{$mhsStakmhsrKode_class}">{$label mahasiswa mhsStakmhsrKode}</th>
			<th class="{$prodiNamaResmi_class}">{$label mahasiswa prodiNamaResmi}</th>
			<th class="{$mhsStatusMasukPt_class}">{$label mahasiswa mhsStatusMasukPt}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$mhsNiu_class} bs-gridcell" data-field=mhsNiu>{$mhsNiu_mastervalue}</td>
			<td class="{$mhsNama_class} bs-gridcell" data-field=mhsNama>{$mhsNama_mastervalue}</td>
			<td class="{$mhsStakmhsrKode_class} bs-gridcell" data-field=mhsStakmhsrKode>{$mhsStakmhsrKode_mastervalue}</td>
			<td class="{$prodiNamaResmi_class} bs-gridcell" data-field=prodiNamaResmi>{$prodiNamaResmi_mastervalue}</td>
			<td class="{$mhsStatusMasukPt_class} bs-gridcell" data-field=mhsStatusMasukPt>{$mhsStatusMasukPt_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>