<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="tusrNama">
	{$tusrNama_editcontrol}
	</control>
	<control field="tusrPassword">
	{$tusrPassword_editcontrol}
	</control>
	<control field="tusrThakrId">
	{$tusrThakrId_editcontrol}
	</control>
	<control field="tusrProfil">
	{$tusrProfil_editcontrol}
	</control>
	<control field="tusrRefIndex">
	{$tusrRefIndex_editcontrol}
	</control>
	<control field="tusrUntId">
	{$tusrUntId_editcontrol}
	</control>
	<control field="tusrIsAgree">
	{$tusrIsAgree_editcontrol}
	</control>
	<control field="tusrProdiKode">
	{$tusrProdiKode_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>