<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
label { display:block; line-height: 1; min-height: 100%; height: auto !important; height: 100%}
</style>

<h3 align="center">Pengumuman Akses Situs Perbanas</h3>
   
<form class="form-common" method="POST" action="{URL_VIEW}" name="frmUser" id="frmUser">   
	<div id='layar' style="z-index:999;position:absolute;left:0px;top:110px;"></div>
	<p>&nbsp;</p>
	&nbsp;&nbsp;&nbsp;Sehubungan dengan peralihan Provider SSL maka untuk dapat akses <br><br>
	&nbsp;&nbsp;&nbsp;1. url perbanas.id<br>
	&nbsp;&nbsp;&nbsp;2. elearning.perbanas.id<br> 
	&nbsp;&nbsp;&nbsp;3. dosen.perbanas.id <br><br>
	&nbsp;&nbsp;&nbsp;Dengan cara menghapus terlebih dahulu history browser.<br>
	&nbsp;&nbsp;&nbsp;Untuk lebih jelasnya klik link berikut ini untuk versi komputer laptop / pc  => <a target="_blank" href="http://portal.perbanas.id/manual/History_Browser.pdf">cara menghapus histori browser pada laptop / pc</a><br>
	&nbsp;&nbsp;&nbsp;Untuk versi ponsel  => <a target="_blank" href="http://portal.perbanas.id/manual/panduan_hhtp_di_hp.pdf">cara menghapus histori browser pada ponsel</a><br><br>
	<br>
	<div id="content-disclaimer" align="center">
	<input class="input-disclaimer" name="btnSkip" type="submit" value="Lanjut Ke Portal" />
	</div>
</form>
<!-- /patTemplate:tmpl -->