<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
label { display:block; line-height: 1; min-height: 100%; height: auto !important; height: 100%}
</style>

<h3 align="center">Pengumuman Jadwal Pemotretan KTM Kampus Jakarta</h3>
   
<form class="form-common" method="POST" action="{URL_VIEW}" name="frmUser" id="frmUser">   
	<div id='layar' style="z-index:999;position:absolute;left:0px;top:110px;"></div>
	<div id="content-disclaimer" align="center">  
		<table class="table-common" width="100%">
			<tr>
				<th>No</th>
				<th>Program Studi</th>
				<th>Angkatan</th>
				<th>Tanggal</th>
				<th>Waktu</th>
				<th>Ruang</th>
			</tr>
			<tr>
				<td rowspan="2" align="center">1</td>
				<td>S1 Akuntansi</td>
				<td align="center">2015 - 2018</td>
				<td rowspan="2">22 s.d 23 April 2019</td>
				<td rowspan="2" align="center">08.00-11.30<br>13.30-15.00</td>
				<td rowspan="15" align="center">6206 Unit VI Lantai 2 (Depan Koperasi)</td>
			</tr>
			<tr>
				<td>D3 Akuntansi</td>
				<td align="center">2016 - 2018</td>
			</tr>
			<tr>
				<td rowspan="2" align="center">2</td>
				<td>S1 Manajemen</td>
				<td align="center">2015 - 2018</td>
				<td rowspan="2">24 s.d 25 April 2019</td>
				<td rowspan="2" align="center">08.00-11.30<br>13.30-15.00</td>
			</tr>
			<tr>
				<td>D3 Keuangan Perbankan</td>
				<td align="center">2016 - 2018</td>
			</tr>
			<tr>
				<td rowspan="5" align="center">3</td>
				<td>S1 Akuntansi Karyawan</td>
				<td rowspan="5" align="center">2017 - 2018</td>
				<td rowspan="5">Sabtu, 27 April 2019</td>
				<td rowspan="5" align="center">08.00-11.30<br>13.30-15.00</td>
			</tr>
			<tr>
				<td>S1 Manajemen Karyawan</td>
			</tr>
			<tr>
				<td>Magister Manajemen</td>
			</tr>
			<tr>
				<td>Magister Akuntansi</td>
			</tr>
			<tr>
				<td>PPAK</td>
			</tr>
			<tr>
				<td rowspan="3" align="center">4</td>
				<td>S1 Sistem Informasi</td>
				<td rowspan="3" align="center">2015 - 2018</td>
				<td rowspan="3">29 April 2019</td>
				<td rowspan="3" align="center">08.00-11.30<br>13.30-15.00</td>
			</tr>
			<tr>
				<td>S1 Teknik Informatika</td>
			</tr>
			<tr>
				<td>S1 Sistem Komputer</td>
			</tr>
			<tr>
				<td rowspan="3" align="center">5</td>
				<td>S1 Sistem Informasi Intensif</td>
				<td rowspan="3" align="center">2017 - 2018</td>
				<td rowspan="3">30 April 2019</td>
				<td rowspan="3" align="center">15.00-18.00</td>
			</tr>
			<tr>
				<td>S1 Akuntansi Intensif</td>
			</tr>
			<tr>
				<td>S1 Manajemen Intensif</td>
			</tr>
		</table>
		<input class="input-disclaimer" name="btnSkip" type="submit" value="Lanjut Ke Portal" />
	</div>
</form>
<!-- /patTemplate:tmpl -->