<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
label { display:block; line-height: 1; min-height: 100%; height: auto !important; height: 100%}
</style>
<h3 align="center">PEMILIHAN KETUA HMPSM 2020 / 2021</h3>
<form class="form-common" method="POST" action="{URL_GOTO}" name="frmUser" id="frmUser">   
	<div id='layar' style="z-index:999;position:absolute;left:0px;top:110px;"></div>

	{ERROR}
	<table width="65%" align="center" border="1" class="table table-common table-responsive">
		
		<tr align ="center">
			<td width="25%" colspan="2">
				<img src="{PATH1}" width="22%" ><br>
				<b>1. FERDI MUHAMMAD</b>
			</td>
			<td colspan="2">
				<img src="{PATH2}" width="22%" ><br>
				<b>2. DIO AFIARI</b>
			</td>
		</tr>
		<tr align ="">
			<td colspan="2">
				<center>
				Visi :<br>
				Menjadikan HMPS-Manajemen sebagai fasilitator aspirasi mahasiswa /i manajemen perbanas dalam mendukung pembentukan sumberdaya menusia yang berkualitas<br>
				Misi :<br></center>
				1. Memberikan informasi yang tepat dan akurat kepada mahasiswa/i manjamen perbanas institute<br>
				2. Meningkatkan kualitas sumberdaya manusia dalam HMPS-Manajemen<br>
				3. Membangun budaya kinerja yang profesional yang berlandaskan kekeluargaan<br>
			</td>
			<td colspan="2">
				<center>
				Visi :<br>
				Menjadikan HMPS-Manajemen sebagai himpunan yang adaptif , informatif  dan dapat bersaing di era 40 
serta  sebagai wadah pemersatu, <br>penampung aspirasi mahasiswa Program studi Manajemen sehingga terwujud himpunan yang solid dan bersinergi  serta dapat menerapkan kolaborasi antar ormawa<br>
				Misi :<br></center>
				1. Menjadi wadah kegiatan, penyalur aspirasi, minat, bakat    dan tempat tukar pikiran dengan asas kekeluargaan
<br>
				2. Memfasilitasi forum diskusi demi tercapainya pengembang-an SDM mahasiswa Program Studi Manajemen
<br>
				3. Menjalin hubungan yang baik dengan civitas, alumni, serta organisasi atau lembaga lainnya khususnya di lingkungan Perbanas Institute<br>
			</td>
		</tr>
		<tr>
			<td width="50%" align ="center" colspan="2"> 
				<input type="radio" id="1" name="calon" value="1" > PILIH 
			</td>
			<td width="50%" align ="center" colspan="2"> 
				<input type="radio" id="2" name="calon" value="2" > PILIH
			</td>
		</tr>
	</table>
	</b>
	<div id="content-disclaimer" align="center">
	<input class="input-disclaimer" name="btnSkip" type="submit" value="SIMPAN" />
	</div>
</form>
<!-- /patTemplate:tmpl -->