<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
label { display:block; line-height: 1; min-height: 100%; height: auto !important; height: 100%}
</style>

<h3 align="center">Pengumuman Jadwal KMK Online</h3>
   
<form class="form-common" method="POST" action="{URL_VIEW}" name="frmUser" id="frmUser">   
	<div id='layar' style="z-index:999;position:absolute;left:0px;top:110px;"></div>
	<div id="content-disclaimer" align="center">  
		<table class="table-common" width="100%">
			<tr>
				<th>No</th>
				<th>Program Studi</th>
				<th>Tanggal</th>
				<th>Waktu Mulai</th>
			</tr>
			<tr>
				<td>1. </td>
				<td>S1 Manajemen</td>
				<td rowspan="3">13 Juli 2019 - 16 Juli 2019</td>
				<td rowspan="3">13:00 wib</td>
			</tr>
			<tr>
				<td>2. </td>
				<td>S1 Keuangan & Perbankan Syariah</td>
			</tr>
			<tr>
				<td>3. </td>
				<td>D3 Keuangan Perbankan</td>
			</tr>
			<tr>
				<td>4. </td>
				<td>S1 Akuntansi</td>
				<td rowspan="4">17 Juli 2019 - 20 Juli 2019</td>
				<td rowspan="4">00:00 wib</td>
			</tr>
			<tr>
				<td>5. </td>
				<td>D3 Akuntansi Perpajakan</td>
			</tr>
			<tr>
				<td>6. </td>
				<td>S1 Teknik Informatika</td>
			</tr>
			<tr>
				<td>7. </td>
				<td>S1 Sistem Informasi</td>
			</tr>
		</table>
		<input class="input-disclaimer" name="btnSkip" type="submit" value="Lanjut Ke Portal" />
	</div>
</form>
<!-- /patTemplate:tmpl -->