<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
	label { display:block; line-height: 1; min-height: 100%; height: auto !important; height: 100%}
	</style>
	
	<h3 align="center">Selamat Datang</h3>
	   
	<form class="form-common" method="POST" action="{URL_VIEW}" name="frmUser" id="frmUser">   
		<div id='layar' style="z-index:999;position:absolute;left:0px;top:110px;"></div>
	<!--p>&nbsp;</p-->
	<!--
		&nbsp;&nbsp;&nbsp;Mahasiswa dianjurkan untuk mengisi Survei Dosen Terinovatif & Terfavorit 2019<br>
		&nbsp;&nbsp;&nbsp;sebelum masuk portal, Berikut link untuk mengikuti Survei  
		
		<br>&nbsp;&nbsp;
		<a target="_blank" href="http://bit.ly/surveidosen2019">http://bit.ly/surveidosen2019</a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	-->
	
		<div id="content-disclaimer" align="center">
			Sebagai bagian dari penyusunan Rencana Induk Pengembangan (RIP) menuju World Class
			University,
			<br>kami mengharapkan partisipasi Mahasiswa untuk memberikan masukan melalui
			pengisian kuesioner pada tautan berikut:
			<br><a href="https://bit.ly/SurveiInternalPerbanas" target="_blank" rel="noopener noreferrer"> https://bit.ly/SurveiInternalPerbanas</a>	<br>		
		<br><input class="input-disclaimer btn btn-info" name="btnSkip" type="submit" value=" Lanjut Ke Portal " />
		</div>
	</form>
	<!-- /patTemplate:tmpl -->