<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
label { display:block; line-height: 1; min-height: 100%; height: auto !important; height: 100%}
</style>
<h3 align="center">PEMILIHAN KETUA HIMA 2025 / 2026</h3>
<form class="form-common" method="POST" action="{URL_GOTO}" name="frmUser" id="frmUser">   
	<div id='layar' style="z-index:999;position:absolute;left:0px;top:110px;"></div>

	{ERROR}
	<center>
	<table width="65%" align="center" border="0" class="table  table-responsive">
		
		<tr align ="center">
			<td width="32%"align ="center" colspan="2">
				<img src="{PATH1}" width="38%" ></br>
				<b>1. Yumeizy Syahputra </br></b>
			</td>
			<td width="32%"align ="center" colspan="2">
				<img src="{PATH2}" width="37%" ></br>
				<b>2. Ihsan Albana </br></b>
			</td>
			<td width="32%"align ="center" colspan="2">
				<img src="{PATH3}" width="37%" ></br>&nbsp;
				<b>3. Nabila Ardiva Zahra </br></b>
			</td>
		</tr>
		<tr>
			<td width="30%" align ="center" colspan="2"> 
				<input type="radio" id="1" name="calon" value="1" > PILIH 
			</td>
			<td width="30%" align ="center" colspan="2"> 
				<input type="radio" id="2" name="calon" value="2" > PILIH
			</td>
			<td width="30%" align ="center" colspan="2"> 
				<input type="radio" id="3" name="calon" value="3" > PILIH
			</td>
		</tr>
	</table>
	</center>
	</b>
	<div id="content-disclaimer" align="center">
	<input class="input-disclaimer" name="btnSkip" type="submit" value="SIMPAN" />
	</div>
</form>
<!-- /patTemplate:tmpl -->