<!-- patTemplate:tmpl name="content" -->

   <h3>Kesepakatan yang Harus Dipenuhi </h3>
   <div id="content-disclaimer">
      <ol>
         <li><strong>Perlindungan Hak Milik Intelektual </strong>
      <p>Aplikasi Portal Akademik ini dikembangkan dan dimiliki sepenuhnya oleh {UNIV_NAME}. Segala karya intelektual terkait dengan aplikasi maupun data adalah milik {UNIV_NAME}. Segala informasi yang disajikan melalui aplikasi ini dapat digunakan secara bebas untuk keperluan akademis, non-komersial dan pribadi. Untuk itu, segala hal terkait dengan penggunaan sebagian atau seluruh karya intelektual termasuk data yang sifatnya komersial atau non-akademis, memerlukan ijin dan persetujuan dari {UNIV_NAME}.</p></li>
      <li><strong>Penggunaan Portal Akademik {UNIV_NAME} </strong>
      <p >Aplikasi ini digunakan untuk kepentingan publik dan seluruh civitas akademika {UNIV_NAME}. Segala bentuk aktivitas yang merusak aplikasi, memanipulasi data, dan hal-hal lain sehingga merugikan seluruh civitas {UNIV_NAME}, akan diproses secara hukum, termasuk sangsi akademis bagi civitas akademika universitas, sesuai aturan yang berlaku.
      </p></li>
      <li><strong>Segala kebutuhan informasi terkait dengan aplikasi ini dapat diperoleh dari BAA {UNIV_NAME}. </strong>
      </li>
      <br />
      <h4><i>Disclaimer</i></h4>
      <p>
         Aplikasi ini berfungsi sebagai alat bantu penyedia/penyaji informasi berupa interface publik yang menjembatani publik dengan aplikasi Sistem Informasi Akademik di {UNIV_NAME}. Semua informasi akademik diperoleh secara langsung dari fakultas, melalui infrastruktur jaringan intranet kampus. Data yang terlihat di Portal Akademik sama dengan yang ada di fakultas, oleh karena itu data di Portal Akademik sangat bergantung pada validitas data di fakultas. Secara formal, data yang valid adalah data yang telah diotorisasi oleh dekan fakultas maupun BAA {UNIV_NAME}. 
      </p>
      
      <p><strong>Saya telah membaca dengan cermat, memahami, dan menyetujui setiap kesepakatan di atas.</strong> </p>
      
      <form class="form-disclaimer form-group" name="frm" method="post" action="{URL_NEXT}">
         <input type="hidden" name="isDisc" value ="1">
         <input type="hidden" name="step" value="disclaimer">
         <input type="hidden" name="doact" value="agreement">
         <button class="btn btn-primary" name="btnSetuju" type="submit" id="btnSetuju">Setuju</button>
         <button class="btn btn-primary" name="btnTidakSetuju" type="submit" id="btnTidakSetuju">Tidak Setuju</button>
      </form>
   </div> 
<!-- /patTemplate:tmpl -->
