<!-- patTemplate:tmpl name="content" -->
<h2>Manajemen User</h2><br/>
<p class="text-muted">Keterangan :</p>
<p>Edit User digunakan untuk merubah data pengguna portal akademik. Untuk merubah data pengguna, Administrator diharuskan mengisi semua kolom.
</p>
<!-- patTemplate:tmpl name="error_box" visibility="hidden" -->
   <table class="table-forum" width="100%">
      <tr>
         <td colspan="3" class="text-center">
         <!-- DIV untuk Warning message -->
         <div id="warning">
            <table>
               <tr>
                  <td rowspan="2"><img src="images/warning-simbol.gif" alt="" /></td>
                  <td><h3>PERINGATAN !!!</h3></td>
               </tr>
               <tr>
                  <td>{ERROR_MESSAGE}</td>
               </tr>
            </table>
         </div>
         <!-- end warning message -->  
         </td>
      </tr>
   </table>         
<!-- /patTemplate:tmpl -->
<form class="form-common form-group" method="POST" action="{URL_PROCESS}" name="frmInput">
   <input type="hidden" name="doact" value="update">
   <input type="hidden" name="key" value="{KEY}">
   <input type="hidden" name="id" value="{USERID}">
   <table class="table-form" width="100%">
      <tr>
         <th colspan="3"><b>Form Ubah User</b></th>
      </tr>
      <tr>
         <th width="100">Nama User</th>
         <td width="100">: <input name="txtNamaUser" type="text" maxlength="255" size="40" value="{USER_NAMA}" /></td>         
      </tr>
      <tr>
         <th width="100">Hak Akses</th>
         <td width="100">: 
            <select name="lstHakAkses">
               <!-- patTemplate:tmpl name="hak_akses_list" -->
                  <option value="{HAKAKSES_ID}" {HAKAKSES_SELECTED} > {HAKAKSES_NAME} </option>
               <!-- /patTemplate:tmpl -->
            </select>
         </td>         
      </tr>
      <tr>
         <th width="100">Nama Lengkap</th>
         <td width="100">: <input name="txtNamaLengkap" type="text" maxlength="255" size="40" value="{USER_NAMALENGKAP}" /></td>         
      </tr>
      <tr>
         <th width="100">Unit</th>
         <td width="100">: 
            <select name="lstUnitId">
               <!-- patTemplate:tmpl name="unit_list" -->
                  <option value="{UNIT_UNIT_ID}" {UNIT_SELECTED} > {UNIT_NAMA} </option>
               <!-- /patTemplate:tmpl -->
            </select>
         </td>         
      </tr>
      <tr>
         <th width="100">Program Studi</th>
         <td width="100">: 
            <input name="prodiKode" type="text" maxlength="255" size="40" value="{USER_PRODINAME}" readonly/>
            <input type="button" name="prodiKodeBtn" class="input-disclaimer" style="width:25px" value="..."
               onclick="window.open('{URL_SHOWPRODI}','ProgramStudi','width=520,height=400,status=yes,resizable=no,scrollbars=yes')">
             <input type="hidden" name="prodiId" value="{USER_PRODIID}" >
         </td>         
      </tr>
      <tr>
         <th width="100">Referensi</th>
         <td width="100">: <input name="txtReferensi" type="text" maxlength="255" size="40" value="{USER_REFERENSI}"  /></td>         
      </tr>
      <tr>   
         <th>&nbsp;</th>
         <td>
            <input class="input-disclaimer btn btn-info" name="btnUpdate" type="submit" value="Simpan" />
            <input class="input-disclaimer btn btn-info" name="btnBatal" type="submit" value="Batal" />
         </td>
      </tr>
   </table>
</form>
<!-- /patTemplate:tmpl -->