body {
   font-family: Tahoma;
   font-size: 11px;
}

hr {
   clear: both;
}

.link {
	clear:both;
	visibility: visible;
}

div.page-portrait {
   visibility: visible;
   font-family: Tahoma;
   font-size: 11px;
   margin: 6px 0px 6px 0px;
   width: 17cm;
}

div.page-landscape {
   visibility: visible;
   font-family: Tahoma;
   font-size: 11px;
   margin: 6px 0px 6px 0px;
   width: 25.5cm;
}

div.page-break .hidden {
   visibility: visible;
   margin: 10px 0px 10px 0px;
}

.page-break {
   clear: both;
}

.link {
	clear:both;
	visibility: visible;
}

#header h1, h2, h3, h4{
   text-align: center;
   padding: 2px 0px;
   margin: 0px;
}

#header h1 {
   font-size: 15pt;
}

#header h2 {
   font-size: 13pt;
}

#header h3 {
   font-size: 11pt;
}

#header h4 {
   font-size: 9pt;
}

#table-kop table {
   border-collapse: collapse;
}

#table-kop tr td {
   font-family: Tahoma;
   font-size: 11px;
   padding: 0px;
}

#table-kop img {
   margin: 2px;
}

#table-kop h1, #table-kop h3 {
   padding: 2px 0px;
   text-align: left;
   margin: 0px;
}

#table-kop h1 {
   font-size: 15pt;
}

#table-kop h3 {
   font-size: 11pt;
}

#table-data table {
   border-collapse: collapse;
}

#table-data tr th {
   font-family: Tahoma;
   font-size: 11px;
   font-weight: bold;
   background-color: #eee;
   padding: 2px;
   border: 1px solid #ccc;
}

#table-data tr td {
   font-family: Tahoma;
   font-size: 11px;
   padding: 2px;
   border: 1px solid #ccc;
   vertical-align: top;
}

#table-tandatangan table {
   border-collapse: collapse;
}

#table-tandatangan tr td {
   font-family: Tahoma;
   font-size: 11px;
   padding: 2px;
}