/*
Copyright 2006 PT. Gamatechno Indonesia.
gamatechno.com Global CSS 
$Revision: 3.0 $
*/
@import url(sia-mocca/css/a_common.css);
@import url(sia-mocca/css/a_sia_common.css);
@import url(sia-mocca/css/a_sia_content.css);
@import url(sia-mocca/css/a_sia_sidebar.css);
@import url(sia-mocca/css/a_sia_elements.css);
@import url(sia-mocca/css/a_sia_table.css);
@import url(sia-mocca/css/a_sia_forms.css);
@import url(sia-mocca/css/submitbox.css);

