<!-- patTemplate:tmpl name="content" -->
<br />
<h2>Form {OPSI_TEXT} Tugas Tambahan</h2>
<br />	
<h5>Keterangan :</h5>
<p style="font:11px Arial">
	Form untuk tugas tambahan dari mahasiswa bersangkutan.
</p>

<br />

<form class="form-common" action="{URL_PROSES}" method="post">
   <table class="table-form" width="100%"  border="0" cellspacing="1" cellpadding="4">
      <tr>
         <td width="22%" valign="top">Judul Tugas</td>
         <td width="2%" valign="top">:</td>
         <td width="76%">
            <input type="" name="krsdpnatgsJudulTgs" size="50" value="{KRSDPNATGSJUDULTGS}" />
         </td>
      </tr>
      <tr>
         <td colspan="3" align="center">
            <input class="input-disclaimer" name="simpan" type="submit" value="Simpan" />
            <input class="input-disclaimer" type="button" value="Kembali" onclick="history.go(-1);" />
            <input type="hidden" name="klsId" value="{KLS_ID}" />
            <input type="hidden" name="semester" value="{SEMESTER}" />
            <input type="hidden" name="mhsNiu" value="{MHS_NIU}" />
            <input type="hidden" name="krsdtId" value="{KRSDT_ID}" />
            <input type="hidden" name="sia" value="{SIA}" />
            <input type="hidden" name="opsi" value="{OPSI}" />
            <input type="hidden" name="id" value="{ID}" />
         </td>
      </tr>
   </table>
</form>
<!-- /patTemplate:tmpl -->