<!-- patTemplate:tmpl name="content" -->
   <h2>{JUDUL}</h2>
   <br />
   <h5>Keterangan :</h5>
   <p>
   Matakuliah Diampu berisi daftar matakuliah yang diampu oleh dosen pengguna. Dosen dapat melihat rincian jadwal matakuliah dengan memilih kode/kelas dari daftar matakuliah yang diampu. 
   </p><br />   
      
   <!-- patTemplate:tmpl name="data_dosen" visibility="hidden" -->
      <table width="100%" class="table-list">
         <tr> 
            <th width="150">Nama</th>
            <td>{DOSEN_FULLNAME}</td>
         </tr>
         <tr> 
            <th>{LABEL_NIP}</th>
            <td>{DOSEN_NO_ID}</td>
         </tr>
         <tr> 
            <th>Program Studi</th>
            <td>{DOSEN_INFO}</td>
         </tr>
         <tr> 
            <th>Semester</th>
            <td>{DOSEN_SEM}</td>
         </tr>
      </table>
   <!-- /patTemplate:tmpl -->
   
   <!-- patTemplate:tmpl name="data_matakuliah_diampu" type="condition" conditionvar="MATAKULIAH_DIAMPU_AVAILABLE" visibility="hidden" -->      
      <!-- patTemplate:sub condition="YES" -->                     
         <table class="table-common" width="100%">
         <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">Matakuliah</th>
            <th rowspan="2">Kelas</th>
            <th colspan="3">SKS</th>
         </tr>
         <tr>
            <th>Kuliah</th>
            <th>Praktek</th>
            <th>Total</th>
         </tr>
         <!-- patTemplate:tmpl name="data_matakuliah_diampu_item" type="condition" conditionvar="ODDEVEN" -->
            <!-- patTemplate:sub condition="ODD" -->
               <tr>
                  <td width="5%" align="center">{MK_DIAMPU_NUMBER}</td>
                  <td width="56%"><a href="{MK_DIAMPU_BUTTON_DETIL_NILAI}">{MK_DIAMPU_MATAKULIAH}</a></td>
                  <td width="15%"><a href="{MK_DIAMPU_URLDETAIL}">{MK_DIAMPU_KELAS}</a></td>
                  <td width="8%" align="center">{MK_DIAMPU_JUMLAH_SKS_TEORI}</td>
                  <td width="8%" align="center">{MK_DIAMPU_JUMLAH_SKS_PRAKTIKUM}</td>
                  <td width="8%" align="center">{MK_DIAMPU_JUMLAH_SKS}</td>
               </tr>
            <!-- /patTemplate:sub -->
            <!-- patTemplate:sub condition="EVEN" -->
               <tr class="table-common-even">
                  <td width="5%" align="center">{MK_DIAMPU_NUMBER}</td>
                  <td width="56%"><a href="{MK_DIAMPU_BUTTON_DETIL_NILAI}">{MK_DIAMPU_MATAKULIAH}</a></td>
                  <td width="15%"><a href="{MK_DIAMPU_URLDETAIL}">{MK_DIAMPU_KELAS}</a></td>
                  <td width="8%" align="center">{MK_DIAMPU_JUMLAH_SKS_TEORI}</td>
                  <td width="8%" align="center">{MK_DIAMPU_JUMLAH_SKS_PRAKTIKUM}</td>
                  <td width="8%" align="center">{MK_DIAMPU_JUMLAH_SKS}</td>
               </tr>
            <!-- /patTemplate:sub -->
         <!-- /patTemplate:tmpl -->
      </table>
      <br/>
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="NO" -->
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->
   
<!-- /patTemplate:tmpl -->