<!-- patTemplate:tmpl name="empty_box" -->
   <!-- patTemplate:tmpl name="page_type" type="condition" conditionvar="TYPE" -->
      <!-- patTemplate:sub condition="empty" -->
         <table class="table-forum" width="100%">           
      <!-- /patTemplate:sub -->
      <!-- patTemplate:sub condition="popup" -->
         <table class="table-forum" width="98%">           
      <!-- /patTemplate:sub -->
   <!-- /patTemplate:tmpl -->   
            <tr>
               <th class="text-center" width="5%">
                  <div class="th-special-left"></div>
               </th>
               <th class="text-left"></th>
               <th class="text-center" width="5%">
                  <div class="th-special-right"></div>
               </th>
            </tr>
            <tr>
               <td colspan="3" class="text-center">
               <!-- DIV untuk Warning message -->
               <div id="warning">
                  <table>
                     <tr>
                        <!-- patTemplate:tmpl name="empty_type" type="condition" conditionvar="TYPE" -->
                           <!-- patTemplate:sub condition="empty" -->
                              <td rowspan="2"><i class="fa fa-exclamation-triangle fa-4x  text-danger" aria-hidden="true"></i></td>
                              <td><h3>PERINGATAN</h3></td>
                           <!-- /patTemplate:sub -->
                           <!-- patTemplate:sub condition="WARNING" -->
                              <td rowspan="2"><i class="fa fa-exclamation-triangle fa-4x  text-danger" aria-hidden="true"></i></td>
                              <td><h3>PERINGATAN</h3></td>
                           <!-- /patTemplate:sub -->
                           <!-- patTemplate:sub condition="INFO" -->
                              <td rowspan="2"><i class="fa fa-info-circle fa-4x" aria-hidden="true"></i></td>
                              <td><h3>INFORMASI</h3></td>
                           <!-- /patTemplate:sub -->               
                        <!-- /patTemplate:tmpl -->
                     </tr>
                     <tr>
                        <td>{WARNING_MESSAGE}</td>
                     </tr>
                  </table>
               </div>
               <!-- end warning message -->	
               </td>
            </tr>
         </table>
<!-- /patTemplate:tmpl -->