<!-- patTemplate:tmpl name="body" -->	   
<div id="page" class="shadow-lg bg-login my-3 rounded-lg">
  <div id="header" class="d-flex">
    <img src="images/logo_perbanas_putih.png" alt="logo perbanas institute" width="75" height="65" class="img-fluid"/>
    <h1 class="align-self-center ml-4">Portal Akademik {APPLICATION_CUSTOMER_NAME}</h1> 
</div>
<!-- end of header -->
    <div id="main-content">
       <div id="main-content-white">
       <!--Content Element-->
          <!-- patTemplate:tmpl name="content" / -->
       <!--Content Element-->
       </div> <!-- end of main-content-white -->
    </div> <!-- end of main-content -->
 <div id="footer">         
   <p>{APPLICATION_NAME} {APPLICATION_CUSTOMER_NAME}<br />
      &copy; 2018 - 2020. All Rights Reserved. Perbanas Institute</p>
 </div> <!-- end of footer -->
</div> <!-- end of page -->
<!-- /patTemplate:tmpl -->		
